.sidebar-panel-nav{margin-top:40px;padding-inline-start:0 !important;color:#fff;list-style:none}.sidebar-panel-nav li input{font-size:20px;padding:5%;text-align:start;width:100%;border:none;background:transparent}/*# sourceMappingURL=userNavigationOptions.css.map */
