<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <!-- <link rel="icon" href= "<%= BASE_URL %>favicon.ico"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script  type="text/javascript" src="bridge.js"></script>

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>

    <title>webproject</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but webproject doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <!-- <button onclick="onCoordinatesChanged(12,12)">F()</button> -->

    <div id="app">
        <my-component ref="foo"></my-component>
    </div>
    <!-- built files will be auto injected -->


    <script>
        function onCoordinatesChanged(lat, lon) {
          bus.$emit("coordinates", lat, lon);
        }

        function onImageLoaded(base64img) {
           bus.$emit("image_loaded", base64img);
        }
    </script>

</body>
</html>

