<template>
<div @click="checkClick($event)">
    <!-- SPINNER COMPONENT -->
    <spinner></spinner> 
    <hider v-if="this.hideGmapUselessComponents"></hider>
    <div id="main_container"  ref="mainpanel" v-bind:class="{ifSpinnerOn: spinnerOn}">        
        <div id="top_container">
            <div  id="site-title">

                  <button @click="toggleNavBar()" class="navbar-toggler first-button"  ref="buttonNavBar" type="button" data-toggle="collapse" data-target="#user-navigation-options"
                    aria-controls="user-navigation-options" aria-expanded="false" aria-label="Toggle navigation">
                    <div  v-bind:class="{'open': this.navOpen , 'animated-icon1':true}"><span></span><span></span><span></span></div>
                 </button>

                <div  v-if="hasDataBeenLoaded" id="user-navigation-options" class="collapse"  ref="navbar">
                    <ul>
                        <li class="tooltip_btn" v-if="this.userRole === '2'" @click="showSlidingPanel('create-challenge')">
                            <span>
                                <i class="fas fa-medal"></i>
                                Create challenge
                            </span>
                        </li >

                        <li class="tooltip_btn" v-if="this.userRole === '2'" @click="createNewAdmin">
                            <span>
                                <i class="fas fa-user-plus"></i>
                                Add new Admin
                            </span>
                        </li >


                        <li class="tooltip_btn" v-bind:class="{'li-selected':this.slidigChoiceOpened=='filters'}" @click="showSlidingPanel('filters')">
                            <span>
                                <i class="fas fa-filter"></i>
                                Options
                            </span>
                        </li>

                        <li class="tooltip_btn" v-bind:class="{'li-selected':this.slidigChoiceOpened=='places'}"  @click="showSlidingPanel('places')">
                            <span>
                                <i class="fas fa-list"></i>
                                Places list
                            </span>
                        </li>

                        <li class="tooltip_btn" v-bind:class="{'li-selected':this.slidigChoiceOpened=='reviews'}" v-if="this.userRole === '1'"  @click="showSlidingPanel('reviews')">
                            <span>
                                <i class="fas fa-user-check"></i>
                                My challenges
                            </span>
                        </li>

                        <li class="tooltip_btn" v-bind:class="{'li-selected':this.slidigChoiceOpened=='user-places'}" v-if="this.userRole === '1'"  @click="showSlidingPanel('user-places')">
                            <span>
                                <i class="fas fa-map-marker-alt"></i>
                                Visited places
                            </span>
                        </li>
                    </ul>
                </div>
                <img src="../../www/images/CulturAdvisor-logo-white.png">
            </div>

             <!-- SEARCH BAR COMPONENT -->
            <search-bar hidden v-bind:class="{hide: hideMap}" :places="markers"></search-bar>

            <div class="debug" v-if="debugCoordinates">
                <span>
                    Latitude: <input v-model="inputLatitude"  id="inLat" type="text" >
                </span>
                <span>
                    Longitude: <input v-model="inputLongitude" id="inLng" type="text" >
                </span>
                <button @click="updateCoordinates">Invio</button>
            </div>
            
            <div id="map-buttons"  v-bind:class="{opacized:this.navOpen}"> 
                <button v-bind:class="{hide: hideMap}" id="add-marker" @click="addMarkerClicked" data-toggle="tooltip" data-placement="top" title="Add new place">
                    <i class="fas fa-map-marked-alt"></i>
                </button>
                <button v-bind:class="{hide: hideMap}" id="center-map" @click="centerMap" data-toggle="tooltip" data-placement="top" title="Center map">
                    <i class="fas fa-crosshairs"></i>
                </button>
                <!-- <button v-if="this.userRole === '1'" v-bind:class="{hide: hideMap}" id="start-navigation">
                   <i class="fas fa-directions"></i>
                </button> -->
            </div>
            
            <div id="user-label" @click="toggleUserProfile()">
                <button>
                    <i v-bind:class="{'fas fa-chevron-up':showUserProfileInfo, 'fas fa-chevron-down':!showUserProfileInfo}"></i>
                </button>
                <span id='name'>
                    {{this.userName}}
                </span>
                <div id='photo' >
                     <img style="border-radius:50%;" :src="this.imageSrc"/> 
                </div>
            </div>
            <div id="user-profile-info" >
                    <div id="user-profile-content" v-bind:class="{show: showUserProfileInfo}">
                        <div id="user-profile-info-records">
                            <span class="user-profile-info-title">
                                Email
                                <small>
                                    {{this.userEmail}}
                                </small>
                            </span>
                            <span  class="user-profile-info-title">
                                Birthdate
                                <small>
                                    {{this.birthdate}}
                                </small>
                            </span>
                            <div id = "score-progress">
                            <span class="user-profile-info-title">
                                Score - Lv. {{this.userLevel}}
                                <b-progress :max="maxScore">
                                <b-progress-bar :value="this.userScore">
                                   <small>{{ this.userScore }} / {{ this.maxScore }}</small>
                                </b-progress-bar>
                                </b-progress>
                            </span>
                            </div>
                        </div>

                        <div id="user-profile-action">
                                <button data-placement="top" title="Change user profile" class="btn btn-primary" data-toggle="modal" data-target="#changeUserSettingsModal" @click="cleanUserDetailsForm()" >
                                    <i class="fas fa-user-edit"></i>
                                </button>
                                <button data-toggle="tooltip" data-placement="top" title="Log out" class="btn btn-primary" @click="logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                </button>
                        </div>
                    </div>
                </div>

           <!-- <div id="home_options">
                <ul>
                    <li >
                    </li>
                </ul>
            </div>-->
        </div>
        <div id="middle_container" v-bind:class="{opacized:this.navOpen,  onMarkerAdd: this.addingMarker}">
            <div id="middle-right-panel">
                <div  id="map_container"   v-bind:class="{hide: hideMap , onMarkerAdd: this.addingMarker}">
                    <div id="adding-state-msg" v-if="this.addingMarker" v-bind:class="{show:this.showAddingMarkerMsg}">
                        <h1>
                            Click anywhere on map to register a new place!
                        </h1>
                    </div>
                    <!-- MAP COMPONENT -->
                    <gmap v-if="hasDataBeenLoaded" :markers="markers"></gmap>
                    <!-- <button @click="centerMap">Center map</button>   -->
                </div>
                <userProfileManager></userProfileManager>


            </div>
            
        </div>

        <div id="bottom_container">
            <navigation-info-panel></navigation-info-panel>
        </div>

        

        <div class="modal fade" id="changeUserSettingsModal" tabindex="-1" role="dialog" aria-labelledby="changeUserSettingsModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                       
                        <div id="us-user-change-image">
                            <div id="user-image">
                                <img :src="this.imageSrc" alt=""> 
                            </div>
                            <div id="change-image-btn"> 
                               <div v-if="device === 'browser'">
                                    <label for="image_upload">
                                        <input  class="input-image-browser" hidden
                                            type="file"
                                            id="image_upload" name="image_upload"
                                            accept="image/png, image/jpg, image/jpeg"
                                            @change="onFileSelectedBrowser"
                                            >
                                        <img style="width:30px; heigth:30px;" src="../../www/icons/change_profile_pic.svg" alt="">
                                    </label>
                               </div>
                                
                                <button v-else class="input-image-device" @click="onFileSelectAndroid">
                                    <label for="image_upload">
                                        <img style="width:30px; heigth:30px;" src="../../www/icons/change_profile_pic.svg" alt="">
                                    </label>
                                </button>
                                    
                            </div>     
                        </div>
                        <div class="user-setting-container" id="us-user-change-name">
                            <span class="user-setting">
                                Name
                                <input type="text" :placeholder="this.userName" v-model="newName">
                            </span>
                        </div>
                        <div class="user-setting-container" id="us-user-change-password">
                            <button class="btn btn-primary" @click="togglePasswordForm">
                                Change password
                                <i  v-bind:class="{'fas fa-chevron-down':!changePasswordOpen, 'fas fa-chevron-up': changePasswordOpen}"></i>
                            </button>
                            <div id='pwd-div' v-bind:class="{'pwd-div-open':changePasswordOpen}">
                                <div class="user-setting-container" id="us-user-change-pwd">
                                    <span class="user-setting">
                                        <input type="password" placeholder="Old password" v-model="oldPwd">
                                        <button class="btn btn-default" v-on:click="togglePassword($event)">
										    <i class="fas fa-eye"></i>
									    </button>
                                    </span>
                                </div>
                                 <div class="user-setting-container" id="us-user-change-pwd">
                                    <span class="user-setting">
                                        <input type="password" placeholder="New password" v-model="newPwd">
                                        <button class="btn btn-default" v-on:click="togglePassword($event)">
										    <i class="fas fa-eye"></i>
									    </button>
                                    </span>
                                </div>
                                 <div class="user-setting-container" id="us-user-change-pwd-confirm">
                                    <span class="user-setting">
                                        <input type="password" placeholder="Confirm password" v-model="newPwdConfirm">
                                        <button class="btn btn-default" v-on:click="togglePassword($event)">
										    <i class="fas fa-eye"></i>
									    </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="saveUserDetailsChanges()">Save changes</button>
                </div>
                </div>
            </div>
        </div>

        <div ref="sidebar" v-if="hasDataBeenLoaded">
            <slidingpanel :markers="markers" :iconMap="iconMap" :visitedPlaces="visitedPlaces"></slidingpanel>
        </div>

        <div ref="mdetails" v-if="hasDataBeenLoaded">
            <markers-details-slidingpanel></markers-details-slidingpanel>
        </div>

    </div>
    <markercreatedetails></markercreatedetails>
    <reviewform></reviewform>
    <signinForm></signinForm>

    <!-- GPS COMPONENT -->
    <gps-manager v-if="this.device === 'browser' && hasDataBeenLoaded"></gps-manager>

    <!-- DISTANCE CALCULATOR COMPONENT -->
    <distance-calculator :places="markers"></distance-calculator>

    <!-- STREET NAVIGATION COMPONENT -->
    <street-navigator></street-navigator>

</div>

</template>

<style>
.swal2-container{
    z-index:10000;
}
</style>

<style scoped src="../../www/styles/stylesheets/home.css"></style>
<style scoped src="../../www/styles/stylesheets/home-device.css"></style>
<style scoped src="../../www/styles/stylesheets/burgerButton.css"></style>
<style scoped src="../../www/styles/stylesheets/userDetailsModal.css"></style>
<style scoped src="../../www/styles/stylesheets/userDetailsModal-device.css"></style>

<script>



import Vue from "vue"
import Swal from 'sweetalert2'
import 'sweetalert2/src/sweetalert2.scss'
import router from "../../src/router";
import {MsgDictionary} from '../../www/utilities/Messages'
import {SlidingOpt} from '../../www/utilities/SlidingPanelsOpt'

import GpsComponent from '../components/GpsManager'
import SpinnerComponent from '../components/Spinner'
import GmapComponent from '../components/Map'
import MarkerOpenInfoComponent from '../components/MarkerOpenInfo'
import MarkerCreateDetailsComponent from '../components/MarkerCreateDetails'
import { store, mutations } from "@/store.js"
import SlidingPanelComponent from '../components/SlidingPanel'
import MarkersDetailsSlidingPanel from '../components/MarkerDetailsSlidingPanel'
import SearchBarComponent from "../components/SearchBar";
import DistanceCalculator from "../components/DistanceCalculator";
import StreetNavigator from "../components/StreetNavigator";
import UserProfileManager from '../components/UserProfileManager'
//import Profile from '../components/Profile'
import UserPlaces from '../components/UserPlaces'
import UserChallengeReview from '../components/UserChallengeReview'
import axios from 'axios'
import UserScore from '../components/UserScore'
import BurgerMenu from '@/components/BurgerMenu'
import ReviewForm from '../components/ReviewFormCreate'
import SearchBar from '../components/SearchBar'
import {ipServer} from "../consts"
import {maxScorePerLevel} from "../consts"
import {CookiesManager} from "../../www/utilities/CookiesManager"
import {Cookies} from "../../www/utilities/Cookies"
import SigninForm from '../components/SigninForm'
import NavigationInfoPanel from '../components/NavigationInfoPanel'
import {ReviewManager} from "../../www/utilities/ReviewManager"


Vue.component('signinForm', SigninForm)
Vue.component('search-bar', SearchBarComponent)
Vue.component('gps-manager', GpsComponent)
Vue.component('spinner', SpinnerComponent)
Vue.component('gmap', GmapComponent)
Vue.component('markeropeninfo', MarkerOpenInfoComponent)
Vue.component('markercreatedetails', MarkerCreateDetailsComponent)
Vue.component('slidingpanel', SlidingPanelComponent)
Vue.component('reviewform', ReviewForm)
Vue.component('userProfileManager', UserProfileManager);
Vue.component('userplaces', UserPlaces)
Vue.component('userChallengeReview', UserChallengeReview)
Vue.component('userScore', UserScore)
Vue.component('burger-menu', BurgerMenu)
Vue.component('search-bar', SearchBar)
Vue.component('distance-calculator', DistanceCalculator)
Vue.component('street-navigator', StreetNavigator)
Vue.component('markers-details-slidingpanel', MarkersDetailsSlidingPanel);
Vue.component('navigation-info-panel', NavigationInfoPanel);

var home = {
    
name: "home",
    data() {
        return {
            showAddingMarkerMsg: false,
            imageSrc: "",
            profileImage: "",
            navOpen:false,
            showUserProfileInfo: false,
            hideGmapUselessComponents: false,
            signinForm: null,
            debugCoordinates: false,
            hideMap: false,
            spinnerOn: false,
            url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
            attribution: '',
            gettingLocation: false,
            errorStr: null,
            updatingMap: false,
            options: [],
            addingPoint: false,
            points: [],
            open:true,
            CookiesManager: new CookiesManager(),
            userRole: "",
            userName: "",
            birthdate: "",
            userEmail: "",
            markers: [],
            favourites: [],
            iconMap: new Map(),
            panelOpen: true,
            device: "",
            inputLatitude: "",
            inputLongitude: "",
            changePasswordOpen: false,
            newName: "",
            newPwd: "",
            newPwdConfirm: "",
            newPhoto: "",
            oldPwd: "",
            slidigChoiceOpened: "",
            addingMarker: false,
            visitedPlaces: [],
            visitedPlacesId: [],
            hasDataBeenLoaded: false,
            userScore: 0,
            userLevel: 0,
            maxScore: 0,
        }
    },
    methods: {

        async init(){
            ReviewManager.initialize();
            ReviewManager.getPlacesReviews();
            this.CookiesManager.writeCookie(Cookies.FILTERS, '');
            
            await this.checkDevice();
           // await this.deleteCookies();
            await this.getSessionParameters();
            await this.getUserScore();
           
            await this.loadInterestPoints();
            await this.getPreferredOfUser();
            this.userRole = this.CookiesManager.readCookie(Cookies.ROLE);

            if(this.userRole === '1'){
                await this.listVisitedPlacesId();
             //   await this.listVisitedPlaces();
            }

            setTimeout(function(){
                this.hideGmapUselessComponents = true;
            }, 5000);
            if(this.visitedPlacesId.length > 0){
                this.crossMarkersAndVisited();
            }
            if(this.favourites.length > 0){
                this.crossMarkerAndFavourites();
            }

            this.setIconMap();
            this.userName = this.CookiesManager.readCookie(Cookies.USERNAME);
            this.userEmail = this.CookiesManager.readCookie(Cookies.EMAIL);
            this.birthdate = this.CookiesManager.readCookie(Cookies.BIRTHDATE);
            this.signinForm =  document.getElementById("provasign");

            this.$root.$emit(MsgDictionary.DATA_LOADED);
            let scoreProgress = document.getElementById("score-progress")
            console.log("score progrsssss")
            console.log(scoreProgress)
            scoreProgress = 10
            this.$root.$emit('scoreform');
            this.hasDataBeenLoaded = true;
        },

        checkClick(e){
            let navbarClick = this.$refs.navbar.contains(e.target);
            let buttonClick = this.$refs.buttonNavBar.contains(e.target);
            let sidebarClick = this.$refs.sidebar.contains(e.target);
        
            let mapClick = this.$refs.mainpanel.contains(e.target);

            if(mapClick && !navbarClick && !sidebarClick && !buttonClick){
                this.closePanel();
            }
        },
        
        listVisitedPlacesId() {
          return new Promise((resolve, reject) => {
            axios.get("http://" + ipServer + ":3000/api/userPlaces")
              .then(response => {
                  if (response.data[0] != undefined) {
                      for (let i = 0; i < response.data[0].Places.length; i++) {
                          this.visitedPlacesId.push(response.data[0].Places[i].idPlace);
                      }
                  }
                  resolve();
              }).catch(error => (console.log(error)));
          });
        },


        getUserScore(){
            axios.get("http://"+ ipServer +":3000/api/userScore").then(response =>{
                //console.log(response)
                let score = response.data.TotReward
                this.userLevel = Math.ceil(score / maxScorePerLevel)
                this.userScore = score - (this.userLevel-1)*maxScorePerLevel
                this.maxScore = maxScorePerLevel
            })
        },

        listVisitedPlaces(){
          let obj = [];
          for (let i = 0; i < this.visitedPlacesId.length; i++) {
            obj[i] = this.visitedPlacesId[i]['idPlace'];
          }

          return new Promise((resolve, reject) => {
            axios.post("http://" + ipServer + ":3000/api/findPlace",obj)
              .then(response => {
                this.visitedPlaces = response.data;
                resolve();
              }).catch(error => (console.log(error)));
          })
        },

        cleanUserDetailsForm(){
            this.toggleUserProfile();
            this.newName = '';
            this.newPwd = '';
            this.oldPwd = '';
            this.newPwdConfirm = '';
        },

        saveUserDetailsChanges(){
            let error = false;
            let errorTxt = "";

            if (this.newPwd !== this.newPwdConfirm) {
                error = true;
                errorTxt = "Passwords mismatch!";
            }

            if (error) {
                Swal.fire({
                    type: 'error',
                    title: 'Error',
                    text: errorTxt,
                });
            } else {
                let updateBody = {};
                updateBody['name'] = this.newName;
                updateBody['oldPwd'] = this.oldPwd;
                updateBody['pwd'] = this.newPwd;
                updateBody['photo'] = this.newPhoto;
                axios.post("http://" + ipServer + ":3000/api/change-user-details", updateBody).then((response) => {
				    let resData = response.data;
                    Swal.fire({
                        type: resData.type,
                        title: resData.title,
                        text: resData.message,
                    });
                });	
            }
        },

        togglePasswordForm(){
            this.changePasswordOpen = !this.changePasswordOpen;
        },

        toBase64(file){
            return new Promise((resolve, reject) => {
                const reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = () => resolve(reader.result);
                reader.onerror = error => reject(error);
            });
        },
        
        async onFileSelectedBrowser(event){
            let file = event.target.files[0];
            this.imageSrc = await this.toBase64(file);
            console.log(this.imageSrc);
            this.newPhoto = this.imageSrc;
        },

        async onFileSelectAndroid(){
            console.log("SELECT FILE FROM ANDROID!");
            let img = await Android.choosePic();
            console.log("IMAGE FROM ANDROID : ");
            console.log(img);
            //let img = camera.startCameraActivity(context);
        },

        toggleUserProfile(){
            this.getUserScore();
            this.showUserProfileInfo = !this.showUserProfileInfo;
        },

        toggleLeftPanel(){
            this.panelOpen = !this.panelOpen;
        },

        toggleNavBar(){
            if (this.navOpen) {
                this.slidigChoiceOpened = "";
                this.$root.$emit(MsgDictionary.CLOSE_SLIDING_PANEL);
            } else {
 
                this.$root.$emit(MsgDictionary.CLOSE_MARKER_SLIDING);
            }
            this.navOpen = !this.navOpen;

        },

        setIconMap(){
            this.iconMap.set("arc","archeological-site.svg");
            this.iconMap.set("par","park.svg");
            this.iconMap.set("mon","monument.svg");
            this.iconMap.set("mus","museum.svg");
            this.iconMap.set("his","historic-site.svg");
            this.iconMap.set("sta","statue.svg");
            this.iconMap.set("cas","castle.svg");
            this.iconMap.set("cat","church.svg");
        },

        togglePassword(source){
          let el = source.target;
          let icon = el.closest('.user-setting').getElementsByTagName('i')[0];
          let input = el.closest('.user-setting').getElementsByTagName('input')[0];

          if(input.type === 'password') {
            input.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
          } else if(input.type === 'text') {
            input.type = 'password';
            icon.classList.add('fa-eye');
            icon.classList.remove('fa-eye-slash');
          }
        },

        deleteCookies(){
            return new Promise((resolve, reject) => {
                this.CookiesManager.deleteAll();
                resolve();
            });
        },

        checkDevice() {
            let uri = window.location.search;
            let deviceParam = new URLSearchParams(uri).get('device');

            if (deviceParam == null) {
                this.device = "browser";
                console.log("Device: " + this.device);
            } else {
                this.device = deviceParam;
                console.log("Device: " + this.device);
            };

        },

        

        getSessionParameters(){
             return new Promise((resolve, reject) => {
                axios.get("http://" + ipServer + ":3000/api/profile_info").then(response => {
                    console.log(response);
                    this.CookiesManager.writeCookie(Cookies.USERNAME, response.data.Username);
                    this.CookiesManager.writeCookie(Cookies.SEX, response.data.Sex);
                    this.CookiesManager.writeCookie(Cookies.EMAIL, response.data.Email);
                    this.CookiesManager.writeCookie(Cookies.BIRTHDATE, response.data.Birthdate);
                    this.setProfileImage(response.data.Photo);
                    resolve();
                });
            });
           
        },

        async loadInterestPoints(){
             return new Promise((resolve, reject) => {
                axios.get("http://" + ipServer + ":3000/api/interestPoints")
                    .then(response => {
                        for(let i = 0; i < response.data.length; i++){
                            this.markers.push(response.data[i]);
                        }
                        resolve();
                    });
            });
        },

        async getPreferredOfUser(){
            return new Promise((resolve, reject) => {
                axios.get("http://" + ipServer + ":3000/api/favourites")
                .then(response => {
                    if(response.data[0] !== undefined){
                        this.favourites = response.data[0].Preferred;
                    }   
                    resolve();
                });
            });
        },

        setProfileImage(image){
            let otherImage = this.CookiesManager.readCookie(Cookies.SEX) == 'F' ? require(`../../www/images/girl.png`) : require(`../../www/images/boy.png`);
            this.imageSrc = image == '' ? otherImage : ""+image;
        },

        crossMarkersAndVisited(){
             for(let i = 0; i < this.markers.length; i++) {
                if (this.visitedPlacesId.includes(this.markers[i]._id)) {
                    this.markers[i].visited = true;
                    this.visitedPlaces.push(this.markers[i]);
                } else {
                    this.markers[i].visited = false;
                }
            }
        },

        crossMarkerAndFavourites(){
            for(let i = 0; i < this.markers.length; i++) {
                if (this.favourites.includes(this.markers[i]._id)) {
                    this.markers[i].favourite = true;
                } else {
                    this.markers[i].favourite = false;
                }
            }
        },

        toggle() {
            mutations.toggleNav()
        },

        backToMap(){
            this.$root.$emit(MsgDictionary.SHOW_USER_PROFILE_PANEL, "");
            this.hideMap = false;
        },

        showSpinner(show){
            this.$root.$emit(MsgDictionary.SHOW_SPINNER, show);
            this.spinnerOn = show;
        },

        showSlidingPanel(panelName) {
            let panel = "";
            let operation;

            switch(panelName) {
                case "filters":
                    if (this.slidigChoiceOpened == "filters") {
                       operation = MsgDictionary.CLOSE_SLIDING_PANEL;
                       this.slidigChoiceOpened = "";
                    } else {
                        operation = MsgDictionary.OPEN_SLIDING_PANEL;
                        this.slidigChoiceOpened = "filters";
                        panel = SlidingOpt.MARKER_FILTERS;
                    }
                    break;
                    
                case "places":
                    if (this.slidigChoiceOpened == "places") {
                       operation = MsgDictionary.CLOSE_SLIDING_PANEL;
                       this.slidigChoiceOpened = "";
                    } else {
                        operation = MsgDictionary.OPEN_SLIDING_PANEL;
                        this.slidigChoiceOpened = "places";
                        panel = SlidingOpt.LISTED_PLACES;
                    }
                    break;

                case "reviews":
                    if (this.slidigChoiceOpened == "reviews") {
                       operation = MsgDictionary.CLOSE_SLIDING_PANEL;
                       this.slidigChoiceOpened = "";
                    } else {
                        operation = MsgDictionary.OPEN_SLIDING_PANEL;
                        this.slidigChoiceOpened = "reviews";
                        panel = SlidingOpt.USER_REVIEWS;
                    }
                    break;

                case "user-places":
                    if (this.slidigChoiceOpened == "user-places") {
                       operation = MsgDictionary.CLOSE_SLIDING_PANEL;
                       this.slidigChoiceOpened = "";
                    } else {
                        operation = MsgDictionary.OPEN_SLIDING_PANEL;
                        this.slidigChoiceOpened = "user-places";
                        panel = SlidingOpt.USER_PLACES;
                    }
                    break;
                case "create-challenge":
                     if (this.slidigChoiceOpened == "create-challenge") {
                    
                       operation = MsgDictionary.CLOSE_SLIDING_PANEL;
                       this.slidigChoiceOpened = "";
                    } else {
                        operation = MsgDictionary.OPEN_SLIDING_PANEL;
                        this.slidigChoiceOpened = "create-challenge";
                        panel = SlidingOpt.CREATE_CHALLENGE;
                    }
                    break;
                default:
                    break;
            }
            this.$root.$emit(operation, panel, "");
        },


        showUserProfile() {
            this.$root.$emit(MsgDictionary.OPEN_SLIDING_PANEL, SlidingOpt.USER_PROFILE, "");
        },
        
        showUserNavigationOptions() {
            this.$root.$emit(MsgDictionary.OPEN_SLIDING_PANEL, SlidingOpt.USER_NAV_OPT, "");
        },


        clickProfileOption(panel){
                this.$root.$emit(MsgDictionary.SHOW_USER_PROFILE_PANEL, panel);
        }, 
 
        logout(){
            var exit;
            Swal.fire({
                title: 'Proceed with log out?',
                type: 'warning',
                allowOutsideClick:false,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Proceed',
                cancelButtonText: 'Cancel'
            }).then(result => {
                if(result.value){
                    this.deleteCookies();
                    axios.post("http://" + ipServer + ":3000/api/logout").then(response => {
                        if(response.data.type === "success"){
                            // dovrebbe poi rimandarmi in /signin dato che la sessione non esiste più
                            router.push("/");
                        }
                    })
                }
            })
        },

        addMarkerClicked: function() {
            this.setStateInAddingMarker(!this.addingMarker);
            this.$root.$emit(MsgDictionary.ADD_MARKER, this.addingMarker);
        },

        setStateInAddingMarker(condition){
            this.addingMarker = condition;
            if(this.addingMarker){
                this.showAddingMarkerMsg = true;
                setTimeout(() => {
                    this.showAddingMarkerMsg = false;
                }, 1500);
            }
        },

        createNewAdmin(){
          
           this.$root.$emit(MsgDictionary.ADD_ADMIN)
           //console.log(this.signinForm)
           Swal.fire({            
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false,
                html: this.signinForm,
               
            })
        },
        centerMap() {
            this.$root.$emit(MsgDictionary.CENTER_MAP);
        },

        updateCoordinates() {
            let lat = this.inputLatitude;
            let lng = this.inputLongitude;
            this.$root.$emit("New coordinates", parseFloat(lat), parseFloat(lng));
        },

        closePanel() {
            if(this.navOpen){
                this.$refs.buttonNavBar.click();
            }
        }

    },

    computed: {
        isBurgerActive() {
            return store.isNavOpen;
        }
    },
    
     mounted() {

         this.init().then(() => {
              
         });

         
        this.$root.$on(MsgDictionary.MARKER_INFO_REQUEST, (visited, markerSelected) => {
            setTimeout(() => {
                this.$root.$emit(MsgDictionary.OPEN_MARKER_SLIDING, visited, markerSelected);
            },100);
        })
         

        this.$root.$on(MsgDictionary.CLOSE_ALL_PANELS, () => {
            this.closePanel();
        });

        this.$root.$on(MsgDictionary.GLOBAL_SHOW_SPINNER, (cond) => {
            this.showSpinner(cond);
        });

        this.$root.$on(MsgDictionary.SHOW_MAP, () => {
            this.hideMap = false;
        });

        this.$root.$on(MsgDictionary.HIDE_MAP, ()=> {
            this.hideMap = true;
        });

        this.$root.$on("clear-adding-marker-state", ()=> {
            this.addingMarker = false;
            this.showAddingMarkerMsg = false;
        })



        bus.$on("image_loaded", (base64img) => {
            let newPic = 'data:image/png;base64,' + base64img;
            this.imageSrc = newPic;
            this.newPhoto = newPic;
        });

    },

    created: function() {
           
       
    }

 /*   beforeMount(){
        this.deleteCookies();
        this.checkLog();
    }*/
}

export default home;
</script>

