

<template>
	<div class="form-wrapper">
		<ul id="tabs" class="nav nav-tabs">
			<li  id="tab_users"  @click="openForm('users')" v-bind:class="{isUser:!isAdminLogin}">
				<a  class="tab_option active" data-toggle="tab" href="#userLogin">
					<i class="fas fa-user"></i>
					Users
				</a>
			</li>
			<li  id="tab_admins" @click="openForm('admins')" v-bind:class="{isAdmin:isAdminLogin}">
				<a  class="tab_option" data-toggle="tab" href="#adminLogin">
					<i class="fas fa-user-lock"></i>
					Admins
				</a>
			</li>
		</ul>
		<div class="tab-content" v-bind:class="{isAdmin:isAdminLogin , isUser:!isAdminLogin}">
			<div  class="tab-pane fade show" v-if="isAdminLogin" id="adminLogin">
					<div v-for="(field,index) in fields" :key="index">
							<div class="form-group" v-if="field.name === 'Email' || field.name === 'Password'">
								<label class="form-label" v-bind:for="field.name">
									{{field.name}}
								</label>
								<div class="inputGroup">
										<input  
										class="form-input"  
										v-bind:type="field.type" 
										aria-describedby="input-live-feedback"
										v-on:focus="onFocus($event)"
										v-on:blur="onBlur($event)"
										v-model="inputsAdmin[index]"
										>
										<button class="btn btn-default" v-on:click="togglePassword($event)" v-if="field.type === 'password'">
											<i class="fas fa-eye"></i>
										</button>
								</div>
								<b-form-invalid-feedback id="input-live-feedback">
									{{field.validationerror}}
								</b-form-invalid-feedback>
							</div>
					</div>
			</div>
			<div class="tab-pane fade show in active" v-if="!isAdminLogin" id="userLogin">
				<div v-for="(field,index) in fields" :key="index">
						<div class="form-group" v-if="field.name === 'Email' || field.name === 'Password'">
							<label class="form-label" v-bind:for="field.name">
								{{field.name}}
							</label>
							<div class="inputGroup">
									<input  
									class="form-input"  
									v-bind:type="field.type" 
									aria-describedby="input-live-feedback"
									v-on:focus="onFocus($event)"
									v-on:blur="onBlur($event)"
									v-model="inputs[index]"
									>
									<button class="btn btn-default" v-on:click="togglePassword($event)" v-if="field.type === 'password'">
										<i class="fas fa-eye"></i>
									</button>
							</div>
						</div>
				</div>
			</div>
			
			<div id="loginFooter">
				<div style="width:80%">
					<label v-if="!isAdminLogin"><small >Not registered yet? <a   href="#" @click="signinPressed">Do it now!</a></small></label>
				</div>
				<input id="loginBtn" v-on:click="loginUser()" class="btn btn-primary" style="background-color: #6495ed; border:none;" type="button" value="Log in!">
			</div>
		</div>
	</div>
</template>


<style scoped src="../../www/styles/stylesheets/signin.css"></style>
<style scoped src="bootstrap/dist/css/bootstrap.css"></style>
<style scoped src="bootstrap-vue/dist/bootstrap-vue.css"></style>

<script>

import axios from 'axios' 
import Swal from 'sweetalert2'
import router from "../../src/router";
import 'sweetalert2/src/sweetalert2.scss';
import {ipServer} from "../consts"
import {CookiesManager} from "../../www/utilities/CookiesManager"
import {Cookies} from "../../www/utilities/Cookies"

export default {
	name: "login",
	data() {
		return {
			isAdminLogin: false,
			fields: [],
			inputs: [], 
			inputsAdmin: [],
			invalids: [],
			showSpinner: false,
			CookiesManager: new CookiesManager(),
		}
   	},

  	methods: {

		async init(){
			await this.checkLog();
			this.listFields();
		},

        listFields: function() {
            axios.get("http://" + ipServer + ":3000/api/fields")
                .then(response => {
                  	this.fields = response.data;
					// 	this.resetInputs();
					for(let i = 0; i < this.fields.length; i++) {
						if(this.fields[i].name === 'Sex') {
							this.inputs[i] = this.defaultSex;
						}
                  	}
                }).catch(error => (console.log(error)));
        },

		checkLog(){
            return new Promise((resolve, reject) => {
                 axios.get("http://" + ipServer + ":3000/api/check_log")
                       .then(response => {
							let resData = response.data;
							console.log(response);
                            if(response.data.type === "error") {
                             /*   Swal.fire({
                                    type: resData.type,
                                    title: resData.title,
                                    text: resData.message,
                                });*/
                            } else {
                               /* Swal.fire({
                                    type: resData.type,
                                    title: resData.title,
                                    text: resData.message,
                                });*/
                                let session = response.data.content;
                                this.CookiesManager.writeCookie(Cookies.EMAIL, session.email);
								this.CookiesManager.writeCookie(Cookies.ROLE, session.role);
								console.log(session);
								router.push('/home');
                            }
                            resolve();
                        }
                    ).catch(error => (console.log(error)));
            });
		},
		
        loginUser: function() {
			let user = {};
			let role = this.isAdminLogin ? 2 : 1;
			for(var i=0; i < this.fields.length; i++) {
				if(this.fields[i].name == 'Email' || this.fields[i].name == 'Password') {
					user[this.fields[i].name]= role === 1 ? this.inputs[i] : this.inputsAdmin[i];
				}
			}
			user['Role'] = role;
		//	user['Device'] = this.size.width < 800 && this.size.height < 800 ? 1 : 0;
			axios.post("http://" + ipServer + ":3000/api/login", user).then((response) => {
				let resData = response.data;
				if(resData.type === 'error') {
					Swal.fire({
						type: resData.type,
						title: resData.title,
						text: resData.message,
					});
				} else {	
				//	this.CookiesManager.writeCookie(Cookies.EMAIL, session.email);
					this.CookiesManager.writeCookie(Cookies.ROLE,role)
					router.push('/home');
				}
			});	
		},
          
      	signinPressed: function() {
			router.push('signin');
        },
          
        togglePassword(source){
          let el = source.target;
          let icon = el.closest('.inputGroup').getElementsByTagName('i')[0];
          let input = el.closest('.inputGroup').getElementsByClassName('form-input')[0];
          if(input.type === 'password') {
            input.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
          } else if(input.type === 'text') {
            input.type = 'password';
            icon.classList.add('fa-eye');
            icon.classList.remove('fa-eye-slash');
          }
        },

        onFocus: function(event) {
			let source = event.target;
			source.closest('.form-group').classList.add("focused");
		},

        onBlur: function(event) {
          let source = event.target;
          let value = source.value;
          if (value === "") {
            source.closest('.form-group').classList.remove("focused");
          } 
        },

		openForm(type){
			this.isAdminLogin = type === "admins";
		},

        
   	},

	mounted() {
		this.init();
  	}
};
</script>
