<template>
<div id="signinform">
<signinForm></signinForm>
</div>
</template>
<script>
import SigninForm from '../components/SigninForm'

import Vue from "vue"
Vue.component('signinForm', SigninForm)

export default {
  
    data() {
		return{}
	},

	methods: {

		init: function() {
			let form =  document.getElementById("signinDiv");
			document.getElementById("signinform").append(form);
		},
	},
	
	mounted(){
		this.init();
	}
}

</script>