#userReview{
    width: 100%;
    display: flex;
}

#userReview > div {
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
}

.progress{
    width: 90%;
}
.challenge_component{
    border-radius: 5px;
    margin-bottom: 20px;
}

.component_header{ 
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: darkslateblue;
    border-bottom: solid 1px #42adff;
    margin-bottom: 2vh;

    h3{
        margin:0;
    }
}

.component_header button{
    height: 50px;
    color: white;
    background-color: rgb(13, 224, 13);
    border-radius: 5px;
    
}
.component_header img{
    height: 30px;
}

.component_body ul{
    list-style: none;
}

.progress-bar{
    font-weight: bold;
    color: darkgray;
}

.not_achieved{
    background-color: lightgray !important;
    border: solid 1px darkgray;
    opacity: 0.5;
}

.completed{
    color: white;
}

//Orientamento verticale
@media screen and (max-width: 500px) {

    .component_header{
        padding-left: 2%;
        padding-right: 2%;

        .component_name h3{
            font-size: 4vw;
        }

        .component_reward button{
            width: 20vw;
            height: 5vh;
            font-size: 3vw;

        }
    }


    .component_body ul{
        list-style: none;
        padding-left: 5px;
    }
    
    
    .progress{
        width: 95%;
    }

}