@media screen and (max-width: 800px) {
    
    h1, h3{
        font-size: 20px;
    }
    #cd_header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;

        button{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            width: 30px;
            height: 30px;
        }

        img{
            width: 20px;
            height: 20px;
        }
    }

    #cd_header ul{
        display: flex; 
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    #cd_header{
        li{
            div{
                display: flex;
                width: 100%;
                flex-direction: row;

                span{
                    text-align: start;
                    margin-left: 10px;
                    width: 70%;
                    font-size: 15px;
                }
            }
        }
    }

    
    #challenge_name{
        width: 100%;
        border:none;
        box-shadow: none;
        text-align: center;
        border-bottom: solid 1px lightgrey;
        border-radius: 0;
    }

    
    #inputs_challenge{
        button{
            width: 80%;
        }
        margin-bottom: 20px;
    }
}