
#cd_header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#cd_header ul{
    padding: 0;
    margin-left: 0;
    display: flex; 
    justify-content: space-around;
}

#cd_header button{
    color: #6495ed;
    width: 60px;
    height: 60px;
    border: solid 2px #6495ed;
    border-radius: 100%;
    background-color: transparent;
    font-size: 30px;
    padding: 2%;
}


#cd_info{
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#challenge_name{
    width: 45%;
    border:none;
    box-shadow: none;
    text-align: center;
    border-bottom: solid 1px lightgrey;
    border-radius: 0;
}

#inputs_challenge{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
#save_challenge, #back_to_map{
    width: 25%;
    border:none;
    border-radius: 5%;
    padding: 2%;
    font-weight: bold;
    color: white;
}

#table_container{
    width: 100%;
    border-top: solid 2px #6495ed;
}

#cd_body{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#review_table{
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#review_table td, #review_table th{
    text-align: center;
}

#cd_header div > span{
    width: min-content;
}

#cd_header button > img{
    width: 40px;
}
#cd_header li{
    list-style: none;
}

#cd_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cd_header li > div{
    margin: 10px;
    text-align: center;    
    display: flex;
    align-items: center;
    flex-direction: column;
}
   
.challengeReview{
    display: flex;
}

.challengeOpt{
    color: #6495ed;
    background: transparent;
    border: none;
}
.hide{
    display: none;
}