#filter_types{
    display: flex;
    flex-direction: column;;
}

.form-check{
    padding: 3%;
}

.form-check label {
    font-size: 1vw;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.2vw;
}

.form-check input {
    margin: 0 !important;
}
 
@media screen and (max-width: 500px) {
    
    .form-check {
        padding: 3%;
        margin-left: 5%;
    }
    
    .form-check label{
        font-size: 4vw;
        width: 92%;
    }

}