#maincontainer {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100%;
}



#top_container {
    height: 10vh;
    background-color: #6495ed;
    display: flex;
    justify-content: space-between;
    align-items: center; 

    input {
        width: inherit;
    }

    #user-label{
        width: 15%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: inherit;
        transition: 0.5s;
        cursor: pointer;

        button{
            background-color: transparent;
            border:none;
            color: white;
        }
        #name {
            font-size: 1.5vw;
            color:white;
        }
    
        #photo{
            border: solid 2px lightblue;            
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;

            img{
                width: 45px; 
                height: 45px;
            }
        }

        
    }
}

#site-title {
    width: 50vw;
    color: white;
    font-size: 3vw;
    display: flex;
    align-items: center;
}

.debug{
    height: 25vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 3000;
    color: white;
    background-color: navy;

    input{
        color: black;;
    }
    button{
        background-color: lightskyblue;
        align-self: center;
        width: 10vw;
        border:none;
    }
}

.opacized{
    opacity: 0.8;
    filter: brightness(40%);
    pointer-events: none;
}

#toggle-left {
    left: 30vw;
    height: inherit;
    background-color: transparent;

    #toggle-button{
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 1.8vw;
        position: absolute;
        height: 15vh;
        z-index: 1000;
        border: solid 1px #6495ed;
        border-left: none;
        background-color: white;
        cursor: pointer;
        top: 45vh;
    }

    i {
        color: #6495ed;
    }
}

/*#home_options{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}*/

#middle-right-panel{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adding-state-msg{
    z-index:0;
    background-color: transparent;
    position: absolute;
    display: flex;
    justify-content: center;
    left: 15%;
    width: 70%;
    opacity: 0;
    transition: 1s;

    h1{
        font-size: 4vw;
        color: black;
        text-align: center;
        font-family: sans-serif;
    }
    
}

#adding-state-msg.show{
    z-index:5000;
    opacity: 1;
} 
#map_container {
    width: 100%;
    height: 100%;
}

#middle_container.onMarkerAdd{
    border:solid 5px orange;
}
#map_container.onMarkerAdd{
    opacity: 0.5;
}
 
#middle_container {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    height: 90vh;
}

// #bottom_container {
//     height: 20%;
//     width: 100%;
// }

#user-navigation-options {
    position: absolute;
    flex-direction: column;
    color: #6495ed;
    width: 20vw;
    top: 10vh;
    left: 0;
    border-right: solid 2px #6495ed;
    background-color:white;
    z-index: 5000;
    .tooltip_btn:first-child{
        margin-top: 3vh;
    }
    .tooltip_btn{
        display: flex;
        background-color: transparent; 
        justify-content: space-between;
        cursor: pointer;
        width: 100%;
        margin-top: 1vh;
        padding-top: 1vh;
        padding-bottom: 1vh;

        span{
            font-size: 1.5vw;
            i{
                width: 1vw;
                margin-right: 1vw;
            }
        }
    }

    span{
        width: inherit; 
    }

    li{
        width: 100%;
        white-space: nowrap; 
        text-overflow: clip; 
        span{
            margin-left: 10px;
        }
    }

    ul{
        padding: 0 !important;
        margin-bottom: 0;
        height: 87vh;
    }
    
}
#middle_left_panel.closed{
    width: 0%;
    padding: 0;
    border:none;
}

html {
    height: 100%;
    margin: 0;
}



.ifSpinnerOn{
    opacity: 0.5;
}

#userProfile{
    background-color: white;
    width: 100%;
}

.hide{
    display: none;
}

  #imageReview{
      margin-top: 20px;  
      width: 100%;
      display: flex;
      justify-content: space-around;
  }

  .image_container{
      height: 100px !important;
      border: solid 2px #42adff !important;
  }

  .top-map-panel {
    position: fixed;
    z-index: 1;
    width: 100%;
    margin: 4% 14%;
  }

  #map-buttons{
    position: absolute;
    z-index: 2000;
    left:82vw; 
    top: 90vh;
    display: flex;
    justify-content: space-around;
    width: 15vw;
  }

  .not-effective {
    display: none;
  }
  #add-marker{
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
     background: #6495ed;
     border: none;
     border-radius: 100%;
     box-shadow: 0px 0px 15px black;
      i{
          font-size: 1.5vw;
          color: white;
      }
       img{
           padding:10%;
           width: inherit;
           border-radius: 100%;
           background-color: white;
           border: solid #42adff 2px;
       }
  }

  .li-selected {
      background-color: #6495ed !important;
      color: white !important;
  }

 

  #center-map{
   width: 3vw;
   height: 3vw;
   display: flex;
   justify-content: center;
   align-items: center;
    background: #6495ed;
    border: none;
    border-radius: 100%;
    box-shadow: 0px 0px 15px black;
     i{
         font-size: 2vw;
         color: white;
     }
      img{
          padding:10%;
          width: inherit;
          border-radius: 100%;
          background-color: white;
          border: solid #42adff 2px;
      }
  }

 #start-navigation{
     
   width: 3vw;
   height: 3vw;
   display: flex;
   justify-content: center;
   align-items: center;
    background: #6495ed;
    border: none;
    border-radius: 100%;
    box-shadow: 0px 0px 15px black;
     i{
         font-size: 2vw;
         color: white;
     }
      img{
          padding:10%;
          width: inherit;
          border-radius: 100%;
          background-color: white;
          border: solid #42adff 2px;
      }
 }
 #user-profile-action{
     width: inherit;
     background-color: #6495ed !important;
     display: flex;
     justify-content: space-around;
     button:first-child{
        border-right: solid 1px white;
    }
    button:nth-child(2){
        border-left: solid 1px white;
    }
     button{
         border-radius: 0;
         width: 50%;
         background-color: transparent;
         border:none;
         transition: 0.5s;
     }

     button:hover{
         background-color: #42adff;
     }
 }
  #user-profile-info{
    position: absolute;
    width: 15%;
    right: 0; 
    top: 10vh;
    z-index: 3000;
    transition: 0.5s;

    #user-profile-content{
        background-color: white;
        height: 0vh;
        transition: 0.5s;
        z-index:0;
        display: none;
        opacity: 0;

        #user-profile-info-records{
            display: flex;
            flex-direction: column;
            padding: 3%;
            height: 20vh;

            .user-profile-info-title{
                display: flex;
                flex-direction: column;
                color: #6495ed;
                font-weight: bold;
                flex-direction: column;
                margin-top: 1vh;
                small{
                    color: black;
                }
            }
        }
       

        .user-profile-info-button{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }


    #user-profile-content.show {
         display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        height: 25vh;
        z-index: 3000;
        opacity: 1;
        border:solid 1px #42adff;
        border-top:none;
    }

 }

//   #user-profile-info.show{
//     height: 25vh;
//     top: 10vh;
//     border:  solid 2px #6495ed;
//     border-top: none;
//   }

  
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important; 
    padding-bottom: 0;
    overflow: visible!important;
}

.animated-icon1{
    width: 2vw;
    height: 3vh;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span{
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    
    .animated-icon1 span {
    background: white;
    }
    
    
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
        top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

