
//Orientamento verticale
@media screen and (max-width: 800px) {

    #top_container {
        height: 9vh;
    
        #user-label {
            padding-left: 3%;
            padding-right: 1.8%;
            width: 40%;
            justify-content: space-between;
    
            #name{
                font-size: 20px;
            }
 
        }

    }

    #user-profile-info{ 
        position: absolute;
        width: 45%;
        right: 0; 
        top: 9vh;
        z-index: 1000;
        transition: 0.5s;
    
        #user-profile-content{
            background-color: white;
            height: 0vh;
            transition: 0.5s;
            z-index:0;
            display: none;
            opacity: 0;
    
            #user-profile-info-records{
                display: flex;
                flex-direction: column;
                padding: 3%;
                height: 20vh;
    
                .user-profile-info-title{
                    display: flex;
                    flex-direction: column;
                    color: #6495ed;
                    font-weight: bold;
                    flex-direction: column;
                    margin-top: 1vh;
                    small{
                        color: black;
                    }
                }
            }
           
    
            .user-profile-info-button{
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    #middle_container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 91vh;
    }
    #middle-right-panel{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #user-navigation-options {
            position: absolute;
            flex-direction: column;
            color: #6495ed;
            width: 40vw;
            top: 9vh;
            left: 0;
            border-right: solid 2px #6495ed;
            background-color:white;
            z-index: 5000;
            height: 91vh;
            .tooltip_btn:first-child{ 
                margin-top: 2vh;
            }
            .tooltip_btn{
                display: flex;
                background-color: transparent;
                justify-content: space-between;
                cursor: pointer;
                width: 100%;
                margin-top: 1vh;
                padding-top: 1vh;
                padding-bottom: 1vh;


                span{
                    font-size: 3.5vw;
                    i{
                        width: 1vw;
                        margin-right: 3vw;
                    }
                }
            }

            span{
                width: inherit; 
            }

            li{
                width: 100%;
                white-space: nowrap; 
                text-overflow: clip; 
            }

            ul{
                padding-left: 1.5vw;
                padding-top:0;
                margin-bottom: 0;
                height: 88vh;
            }
        
        }

        #site-title {
            margin-left: 5px;
            font-size: 5vw;
        }

        #toggle-left {
            left: 60vw;
        
            #toggle-button{
                width: 6vw;
                height: 13vh;
                top: 45vh;
            }
        }
        
                
        .animated-icon1{
            width: 5vw;
        }

        .animated-icon1 span:nth-child(1) {
        top: 0px;
        }
        
        .animated-icon1 span:nth-child(2) {
        top: 1vh;
        }
        
        .animated-icon1 span:nth-child(3) {
        top: 2vh;
        }
    

     
    .animated-icon1.open span:nth-child(1) {
        top: 1vh;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
        top: 1vh;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    
  #map-buttons{
    position: absolute;
    z-index: 2000;
    left: 60vw; 
    top: 90vh;
    display: flex;
    justify-content: space-between;
    width: 35vw;

    button{
        width: 10vw;
        height: 5vh;

        i{
            font-size: 5vw;
        }
    } 
 }
            
}
/*
.li-selected {
    background-color: #6495ed !important;
    color: white !important;
}

#user-profile-info{
    position: absolute;
    width: 40%;
    right: 0;
    top: 9vh;
    z-index: 100;
    transition: 0.5s;

    #user-profile-content{
        background-color: white;
        height: 0vh;
        transition: 0.5s;
        z-index:0;
        display: none;
        opacity: 0;

        #user-profile-info-records{
            display: flex;
            flex-direction: column;
            padding: 3%;
            height: 20vh;

            .user-profile-info-title{
                display: flex;
                flex-direction: column;
                color: #6495ed;
                font-weight: bold;
                flex-direction: column;
                margin-top: 1vh;
                small{
                    color: black;
                }
            }
        }
       

        .user-profile-info-button{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    #user-profile-content.show {
         display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        height: 25vh;
        z-index: 3000;
        opacity: 1;
        border:solid 1px #42adff;
        border-top:none;
    }

    #map-buttons{
        position: absolute;
        z-index: 2000;
        left:82vw; 
        top: 90vh;
        display: flex;
        justify-content: space-around;
        width: 40vw;
      }

      #add-marker{
        width: 3vw;
        height: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
         background: #6495ed;
         border: none;
         border-radius: 100%;
         box-shadow: 0px 0px 15px black;
          i{
              font-size: 1.5vw;
              color: white;
          }
           img{
               padding:10%;
               width: inherit;
               border-radius: 100%;
               background-color: white;
               border: solid #42adff 2px;
           }
      }

      #center-map{
        width: 3vw;
        height: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
         background: #6495ed;
         border: none;
         border-radius: 100%;
         box-shadow: 0px 0px 15px black;
          i{
              font-size: 2vw;
              color: white;
          }
           img{
               padding:10%;
               width: inherit;
               border-radius: 100%;
               background-color: white;
               border: solid #42adff 2px;
           }
       }
       
      #start-navigation{
     
        width: 3vw;
        height: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
         background: #6495ed;
         border: none;
         border-radius: 100%;
         box-shadow: 0px 0px 15px black;
          i{
              font-size: 2vw;
              color: white;
          }
           img{
               padding:10%;
               width: inherit;
               border-radius: 100%;
               background-color: white;
               border: solid #42adff 2px;
           }
      }
 }

//Orientamento orizzontale
@media screen and (min-width: 500px) {
}
*/