@media screen and (max-width: 500px) {

    
    .marker-info-title{
        width: 100%;
        h2{
            width: 90%;
            font-size: 5vw;
        }

        i{
            font-size: 3vw;
        }

        
    }

    h4{
        font-size: 3vw;
    }

    .marker-details-actions{
        display: flex;
        align-items: flex-start;

        .markerOpt{
            i{
                font-size: 4vw;
            }

            span{
                font-size: 2vw;
            }
        }

    }
}