@media screen and (max-width: 500px) {
    .marker-info-actions{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    
.marker-info-title{
    display: flex;
    width: inherit;
    align-items: center;
    margin-bottom: 10px;
    h1{
        font-size: 6vw;
    } 

    div{
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: limegreen;
        border-radius: 100%;

    }
    i{
        color: white;
        border-radius: 100%;
        padding: 1%;
        font-size: 3vw;
    }
}
    
    .markerOpt{
        color: #6495ed;
        background: transparent;
        border: none;
    
    
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 7vw;
            i{
                font-size: 5vw;
            }

            span{
                font-size: 10px;
            }
        }
        div.marker-favourite{
            i{
                color: gold;
            }
        }
    }
}

