#pointOperations{
    display: flex;
    justify-content: space-around;
}

#markerInfoOptions{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  
}

 
#markerInfoOptions ul{
    margin-top: 10px;
    padding-inline-start: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.marker-info-title{
    display: flex;
    width: inherit;
    align-items: center;
    margin-bottom: 10px;
    h1{
        margin: 0;
        margin-right: 10px;
    } 

    div{
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: limegreen;
        border-radius: 100%;

    }
    i{
        color: white;
        border-radius: 100%;
        padding: 1%;
        font-size: 1vw;
    }
}
.reviewed {
    display: none;
}

.markerOpt{
    color: #6495ed;
    background: transparent;
    border: none;


    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 7vw;
        i{
            font-size: 2vw;
        }
    }
    div.marker-favourite{
        i{
            color: gold;
        }
    }
}
.separator{
    width: 1px;
    height: 30px;
    background: #6495ed;
}
.markerOpt img{
    width: 35px;
}