
.user-review{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .markerOpt{
        div{
            width: 6vw;
        }
        i{
            font-size: 15px;
        }
        span{
            font-size: 11px
        }
    }
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.review-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h3{
        margin: 0;
        margin-right: 20px;
    }
}

.marker-details-actions{
    display: flex;
    justify-content: space-around;
}
//Da cancellare perchè non lo usiamo più
#sp_header button { 
    background: transparent;
    border: none;
    color: white;
    display: none;
}

.slide-enter-active, .slide-leave-active {
    transition: transform 0.2s ease;
}

.slide-enter, .slide-leave-to {
    transform: translateX(+100%);
    transition: all 150ms ease-in 0s
}

.sidebar-backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
}

.carousel-inner {
    position: relative; 
    height: 100px; 
    width: inherit;
    margin-left: 10%;
    margin-right: 10%;

    h4 {
        font-size: 15px;
    }

    span {
        font-size: 12px;
    }
}
.sidebar-panel{
    box-shadow: 10px 10px 10px 10px;
}
.marker-info-title{
    display: flex;
    width: inherit;
    align-items: center;
    margin-bottom: 10px;
    width: 90%;
    
    h2 {
        margin: 0 !important;
        margin-right: 10px;
    }

    div {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: limegreen;
        border-radius: 100%;
        margin-left: 10px;

    }
    i{
        color: white;
        border-radius: 100%;
        padding: 1%;
        font-size: 1vw;
    }
}

.sidebar-panel {
    overflow-y: auto;
    background-color: whitesmoke;
    position: fixed;
    top: 10vh;
    right: 0;
    height: 90vh;
    z-index: 2000;
    padding:1.5%;
    width: 30vw;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   // transition: 1s;
}


.tooFar {
    opacity: 0.5;
}

.reviewed {
    display: none;
}

.markerOpt img{
    width: 35px;
}


.markerOpt{
    color: #6495ed;
    background: transparent;
    border: none;

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 7vw;
        i{
            font-size: 2vw;
        }
    }
    div.marker-favourite{
        i{
            color: gold;
        }
    }
}


//Orientamento verticale
@media screen and (max-width: 500px) {

    
   

    .sidebar-panel {
        top: 9vh;
        height: 90vh;
        width: 50vw;
    }
        
}

//Orientamento orizzontale
@media screen and (min-width: 500px) {
}
