@media screen and (max-width: 500px) {
    #nav-info-container{
        width: 100vw;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;


        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 3%;
            padding-right: 3%;
        }
    
        .info{
            width: 100%;
            display: flex;
            justify-content: space-around;
            div{
                display: flex;
                flex-direction: column;
                text-align: center;
            }
            span:first-child{
                color: #6495ed;
                font-weight: bold;
            }
            padding-left: 3%;
        }
    }
    
    #nav-info-container.open{
        top: 75vh;
        border: solid 2px #6495ed;
    }
    
    .info-panel-actions{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .start-navigation{
        width: 100%;
        background-color: #6495ed;
        color: white;
        border: none;
        div{
            padding: 2%;
            width: inherit;
            text-align: center;
        }
    }
    
    
    .markerOpt{ 
       i{
           font-size: 5vw;
       }
    }

    .sidebar-panel{
        box-shadow: 10px 10px 10px 10px;
    }
}