#nav-info-container{
    height: 0vh;
    position: fixed;
    height: 25vh;
    width: 50vw;
    top: 100vh;
    left: 0;
    border: none;
    background-color: white;
    z-index: 3000;
    border-top-right-radius: 10px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1%;
    }

    .info{
        width: 100%;
        display: flex;
        justify-content: space-around;
        div{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        span:first-child{
            color: #6495ed;
            font-weight: bold;
        }
        padding-left: 3%;
    }
}

#nav-info-container.open{
    top: 75vh;
    border: solid 2px #6495ed;
}

.info-panel-actions{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.start-navigation{
    width: 100%;
    background-color: #6495ed;
    color: white;
    border: none;
    div{
        padding: 2%;
        width: inherit;
        text-align: center;
    }
}


.markerOpt{
    color: #6495ed;
    background: transparent;
    border: none;
}