#places-list{
    list-style: none;
    padding-left: 0;
    
    button {
        background-color: transparent;
        border:none;
        margin-top: 3vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        .tab {
            width: 90%;
            display: flex;
        
            .tab-column{
                display: flex;
                flex-direction: column;
                margin-left: 1vw;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: clip;
                span {
                    font-size: 1vw;  
                    text-align: initial;
                        
                }
            }
        }

        img {
            width: 1.5vw;
        }

        small{
            text-align: start;
            color: #6495ed;
            font-size: 1vw;
        }
    }

    //Orientamento verticale
    @media screen and (max-width: 500px) {
        list-style: none;
        padding-left: 0;
        
        button {
            margin-top: 3vh;
            width: 100%;
            
            .tab {
                width: inherit;
                display: flex;
                align-items: center;

                .tab-column{
                    display: flex;
                    flex-direction: column;
                    margin-left: 1vw;

                    span {
                        font-size:3.5vw;
                    }
                }


            }

            img {
                width: 6vw;
            }

            small {
                text-align: start;
                color: #6495ed;
                font-size: 3vw;
            }
        }
    }
}