
#search-bar{
    width: 30%;
    margin-top: 30vh;

    .search-wrapper{
        width: 100%;

        input{
            border:none;
            border-radius: 5px;
            height: 7vh;
            width: 100%;
        }
    }
    ul{
        width: inherit;
        margin: 0 !important;
        padding: 0 !important;
        position: absolute;
        z-index: 2000;


        button{
            height: 10vh;
            color: slategrey;
            text-align: start; 
            border:none;
            background-color: white !important;
        }
        
    }
    
}

@media screen and (max-width: 500px) {
    
    #search-bar{
        width: 30%;
        margin-top: 20vh;
        border: solid 1px #6495ed;
        border-radius: 5px;
        z-index: 3000;
        .search-wrapper{

            input{
                border:none;
                height: 7vh;
                width: 100%;
            }
        }
        ul{
            width: inherit;
            margin: 0 !important;
            padding: 0 !important;
            position: absolute;
            z-index: 2000;
            
            button{
                height: 10vh;
                color: slategrey;
                text-align: start;
                border:none;
                background-color: white !important;
            }
            
        }
        
    }
}