#content{
  position:relative;
  z-index: 0;
}

#homepage{
    width: 100%;
}

#tabs{
  border: none;
  display: flex;
  justify-content: space-between;
}

#tabs li{
  width: 50%;
  padding: 2%;

  a{
    color:#6495ed !important;
  }
}

.tab-option{ 
  width: inherit;
}

#tab_users{
  border:solid 1px #6495ed;
  border-top-right-radius: 10px;
}

#tab_users.isUser  , #tab_admins.isAdmin {
  a{
    color:white !important;
    background-color: #6495ed;
    border: none;
  }
  background-color: #6495ed;
}

#tab_admins{
  border:solid 1px #6495ed;
  border-top-left-radius: 10px;
  a{
      text-align: end;
  }
}

.tab-content{
  padding: 2%;
  border: solid 1px #6495ed;
  border-top: none;
}
.tab-pane{
  padding-top: 5%;
}



#top_container{
  height: 80px;
  background-color: #6495ed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#title {
    padding: 2%;
    width: 70%;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: white;
}

#login_options{
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#login_options ul{
  list-style: none;
  margin: 0;
}

 .tooltip_btn > button{
  color: white;
  border: solid 2px white;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 50px;
}

#loginFooter{
  display: flex;
  justify-content: space-around;
  align-items: center;
}



label{
  margin: 0 !important;
}

.ifSpinnerOn{
  opacity: 0.5;
}
.spinnerOn{
  color: #42adff;
  position: absolute;
  opacity: 1;
  width: 100%;
  background:transparent;
  z-index: 1000;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.spinnerOn > div{
  width: 50px;
  height: 50px;
}
/*#signinDiv{
    height: 400px;
    overflow-y: scroll;
    white-space: nowrap;
    text-overflow: hidden;
}*/
/* #loginDiv {
    margin: 20% 15% 20% 15%;
    font-size: 50px;
} */

.form-control{
    border: none !important;
    border-radius: 0 !important;
}

.form-wrapper {
    max-width: 30%;
    min-width: 300px;
    padding: 50px 30px 50px 30px;
    margin: 50px auto;   
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
  }
  
  .form-group {
    position:relative;  
  
    & + .form-group {
      margin-top: 30px;
    }
  }
  
.form-label {
    position: absolute;
    left: 0;
    top: 10px;
    color: lightsteelblue;
    background-color: transparent;
    z-index: 10;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
  }

  #signinform .inputGroup{
    padding: 12px 0px 5px 0 !important;

  
  } 
  #signinform label[for='Birthdate'] + .inputGroup{

    .form-input{
        padding-left: 20% !important;

        &:focus{
          padding-left: 0;
        }
    }
  }
  .focused .form-label {
    color: #6495ed ;
    transform: translateY(-125%);
    font-size: .75em;
  }
  
  .form-input {
    position: relative;
    z-index: 20;
    background-color: transparent !important ;
    padding: 12px 0px 5px 0 !important;
  //  width: 90% !important;
    width: 100%;
    outline: 0;
    border: none;
    box-shadow: 0 1px 0 0 #e5e5e5 !important;
    transition: box-shadow 150ms ease-out ;
    
    &:focus {
      box-shadow: 0 2px 0 0 #6495ed !important;
    }
  }


  
  .inputGroup{
    display: flex;
  }

  .inputGroup > div{
    width: 100%;
  }

  .inputGroup i{
    color: cornflowerblue;
  }

  .inputGroup button{
    box-shadow: none !important;
  }

  .invalid-feedback{
    text-align: initial;
  }