@media screen and (max-width: 500px) {

    
    #sp_header {

        padding-bottom: 0;

        h2 {
            font-size: 5vw;
            margin-bottom: 1.4vh;
        }

        i {  
            font-size: 6vw;
        }
    }

    .sidebar-panel {
        overflow-y: auto;
        background-color: whitesmoke;
        position: fixed;
        left: 40vw;
        top: 9vh; 
        height: 91vh;
        z-index: 2000;
    }
        
    
    .small {
        width: 60vw;
    }

    .large {
        width: 60vw;
    }
 
}

//Orientamento orizzontale
@media screen and (min-width: 500px) {
}