
#sp_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6495ed;
  //  padding-top: 5%;
  //  padding-left: 6%;
  //  padding-bottom: 4%;

    h2 {
        margin: 0;
        padding: 0;
        font-size: 2vw;
    }

    i {  
        margin: 0;
        padding: 0;
        color: #6495ed;
        font-size: 1.6vw;
    }
}


.sidebar-backdrop{
    display: none !important;
}

//Da cancellare perchè non lo usiamo più
#sp_header button { 
    background: transparent;
    border: none;
    color: white;
    display: none;
}

.slide-enter-active, .slide-leave-active {
    transition: transform 0.2s ease;
}

.slide-enter, .slide-leave-to {
    transform: translateX(-100%);
    transition: all 150ms ease-in 0s
}

.sidebar-backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer; 
}

.sidebar-panel {
    overflow-y: auto;
    background-color: whitesmoke;
    position: fixed;
    left: 20vw;
    top: 10vh;
    height: 90vh; 
    z-index: 2000;
}

.small {
    width: 18vw;
}

.large {
    width: 50vw;
}
 