
@media screen and (max-width: 800px) {

   .input-image-device{
        background-color: transparent;
        border: none;
    }
    #changeUserSettingsModal{
        
        .modal-content{
            height: 60vh;
        }
        .modal-body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow-y: auto;
        
        .user-setting-container{
            border-bottom: solid 1px #42adff;
            width: 60vw;
        }

        .user-setting{
            display: flex;
            color: #337ab7;
            font-weight: bold;
            margin-top: 2vh; 
            width: inherit;
            input{
                font-weight: normal;
                border:none;
                margin-left: 1vw;
            }
        }

            #us-user-change-image{
                display: flex;
                flex-direction: row;
                align-items: flex-end;
            }
            #user-image{
                width: 100px;
                height: 100px;
                box-shadow: 0px 0px 10px;
                border-radius: 100%;

                img{
                    width: inherit;
                    height: inherit;
                    border-radius: 100%;
                    padding: 3%;
                }
            }
        }


    }

    #us-user-change-password{
        border: none !important;
        margin-top: 2vh;
        button{
            width: inherit;

            i{
                margin-left: 5px;
            }
        }

        #pwd-div{
            transition: 1s;
            height: 0vh;
            .user-setting-container{
                opacity: 0;
                transition: 0.5s;
            }
        }

        #pwd-div.pwd-div-open{
            height: 13vh;
            .user-setting-container{
                opacity: 1;
                transition: 1s;
            }
        }
    }

    #us-user-change-pwd{
        
        button{
            border: none;
        }
    }
    #us-user-change-pwd-confirm{
        button{
            border: none;
        }
    }
}