#title {
    display: flex;
    justify-content: center;
    color: #6495ed;
    width: 100%;

    h1 {
        font-size: 3.5vw;
    }
}

li {
    border-radius: none;
    margin-top: 5px;
    width: 5vw;
}

.filter_type_icon {
    width: 2vw; 
}

.option_icon {
    width: 2vw;
}

#userPlaces {
    width: 100%;
    height: 90vh;
}

.container {
    width: inherit;
    display: flex;
    justify-content: center;
    flex-direction:  column;

    .tab-content{
        background-color: transparent;
        border: none;
    }
    ul {
        list-style: none !important;
        padding: 0;
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
}

.card, .tab-content {
    width: 100%;
    background-color: transparent;
}


.card {
    border:none;
    border-bottom: none;
    margin-top: 20px;
    .card-body{
        padding:0;
    }
}

.visited_places_container {
    overflow-y: auto ;
    height: inherit;

    
}
.visited_places_container > div{
    margin-top: 10px;
}

.visited_places_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_visited_places {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.header_visited_places {
    display: flex;
    align-items: center;

    span {
        font-size: 2.3vw;
        
    }
}
.body_visited_places{

    div{
        display: flex;
        align-items: center;

    }
}


.review-panel{
    width: 70% !important;
    display: flex;
    align-items: center;
    strong{
        margin-right: 10px;
        font-size: 13px;
    }
    span{
        font-size: 10px;
        margin-right: 10px;
    }
}

.visited-place-bottom{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.review-panel{
    font-size: 1vw;
    width: 50%;
}

.show_more {
    background: transparent;
    border: none;
    color:  #6495ed;
}

.action_visited_places {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;

    button {
        border: solid 2px  #6495ed;
        border-radius: 100%;
        padding: 2%;
        background-color: transparent;
    }

    img {
        width: 3vw;
        padding: 10%;
    }
}

.place_not_visited {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        text-align: center;
        font-size: 2vw;
    }

    span {
        text-align: center;
        font-size: 1vw;
    }

    img {
        width: 20vw;
    }
}

.place_not_visited img {
    height: 200px;
}

.place_visited:not(:last-child) {
    padding: 1%;
    border-bottom: solid 1px #6495ed ;
}

ul a {
    margin: 0 !important;
    background-color:  #6495ed;
    border-radius:none !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 3%;
    height:6vh;
}
 