
#profileSlidingPanel{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
} 

#profileSlidingPanel .form-group{
    margin: 0;
    align-self: flex-end;
}

#profileImage{
    width: 80%;  
    border-radius: 100%;
    border: solid 2px #6495ed;
}  