
//Orientamento verticale
@media screen and (max-width: 500px) {
    #title {
        display: flex;
        justify-content: center;
        color: #6495ed;
        width: 100%;
    
        h1 {
            text-align: center;
            font-size: 5vw;
        }
    }
    
    li {
        border-radius: none;
        margin-top: 5px;
        width: 5vw;
    }
    
    .filter_type_icon { 
        width: 8vw; 
    }
    
    .option_icon {
        width: 2vw;
    }
    
    #userPlaces {
        width: 100%;
        height: 90vh;
    }
    
    .container {
        width: inherit;
        display: flex;
        justify-content: center;
        flex-direction:  column;
    
        .tab-content{
            background-color: transparent;
            overflow-y: auto;
        }
        ul {
            padding: 3%;
            width: 85%;
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: space-around;
            border: none;
            list-style: none;
        }
    }
    
    .card, .tab-content {
        width: 100%;
        background-color: transparent;
    }
    
    
    .card {
        border:none;
        border-bottom: none;
    
        .card-body{
            padding:0;
        }
    }

    .visited_places_content{
        width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
    }
    .info_visited_places{
        width: 70%;
    }
    

    .info_visited_places strong{
            font-size: 8px;
    }

    .info_visited_places span{
        font-size: 8px;
    }

    .header_visited_places > span{
        font-size: 10px;
    }

    
    .show_more {
        background: transparent;
        border: none;
        color:  #6495ed;
        font-size: 5px;
    }
    
    .action_visited_places {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
    
        button {
            border: solid 2px  #6495ed;
            border-radius: 100%;
            padding: 2%;
            background-color: transparent;
        }
    
        img {
            padding: 10%;
            width: 5vw !important;
        }
    }
    
    .place_not_visited {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        h3 {
            font-size: 5vw;
        }
    
        span {
            font-size: 3vw;
        }
    
        img {
            width: 40vw;
        }
    }
    
    .place_not_visited img {
        height: 200px;
    }
    
    .place_visited:not(:last-child) {
        padding: 1%;
        border-bottom: solid 1px #6495ed ;
    }
    
    ul a {
        width: 12vw;
        margin: 0 !important;
        background-color:  #6495ed;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        height:6vh;
    }
    
}