<template>
    
    <div id="my-carousel-review" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div style="width: inherit;" v-for="(image,index) in images" :key="index"  class="carousel-item" v-bind:class="{active: index === carouselIndex}">
                <img
                    :src="image"
                    style="height:200px;"
                > 
            </div>

        </div>
        <a class="carousel-control-prev" href="#my-carousel" role="button" data-slide="prev" @click="carouselPrev()">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#my-carousel" role="button" data-slide="next" @click="carouselNext()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</template>

<style scoped>
 @import "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css";

.carousel-item.active{
     display: flex;
     justify-content: center;
     align-items: center;
 }
</style>

<script>

import {MsgDictionary} from '../../www/utilities/Messages'
import axios from 'axios'
import {ipServer} from "../consts"

export default {
    name: 'carousel-reviews',
    props: {
        markerSelected: { 
            type: Object
        }
    },

    data() {
        return{
            carouselIndex: 0,
            slide: 0,
            sliding: null,
            marker: Object,
            markerReviews: []
        }
    },

    methods: {

        init() {
            this.marker = this.markerSelected;
            this.downloadImages();
        },

        downloadReviews() {
            let imageBase64 = {};

            axios.get("http://" + ipServer + ":3000/api/pointImages", {
                params: {
                    name: this.marker.name + "",
                    placeId: this.marker._id
                }
            }).then(response => {
                imageBase64 = response.data;
                for (let i = 0; i < imageBase64.length; i++) {
                    this.images.push(imageBase64[i].base64);
                }
            });
        },

        carouselPrev() {
            if (this.carouselIndex === 0) {
                this.carouselIndex = this.images.length - 1;
            } else {
                this.carouselIndex--;
            }
        },

        carouselNext() {
            if (this.carouselIndex < this.images.length -1) {
                this.carouselIndex++;
            } else {
                this.carouselIndex = 0;
            }
        },

        onSlideStart(slide) {
            this.sliding = true
        },

        onSlideEnd(slide) {
            this.sliding = false
        }

    },

    mounted(){

        this.$root.$on(MsgDictionary.CAROUSEL_ADD_IMAGE, (img)=> {
            this.images.push(img);
        });

        this.$root.$on(MsgDictionary.PANEL_RESET, (newMarker) => {
            if (newMarker != undefined) {
                this.marker = newMarker;
                this.images = [];
            }
        })

        this.init();
    }
}
</script>