<template>
    <div id="challenge_details_panel">
        <h1 style="text-align:center">Create new challenge</h1>
        <div id="cd_header">
            <ul>
                <li v-for="(icon, index) in iconsObj" :key="index">
                    <div  @click="showSettingFormForIcon(icon.name)">
                        <button>
                            <img :src="require(`../../www/icons/${icon.path}`)" alt="">
                        </button>
                        <span>{{icon.title}}</span>
                    </div>
                </li>
            </ul>
            <div id="cd_info">
                <h3>
                    Challenge name: 
                </h3>

                <b-form-input  
                                id="challenge_name"
                                v-model="challengeName"
                                class="form-input"  
                                v-on:input="validateChallengeName()"
                                type="text" 
                                v-bind:class="{'is-invalid': missingName}"
                                aria-describedby="input-live-feedback"
                            >
                </b-form-input>
                <b-form-invalid-feedback id="input-live-feedback" style="text-align: center">
                       Challenge name is required
                </b-form-invalid-feedback>

            </div>
        </div>
        <div id="cd_body">
            <div id="table_container" v-if="showTable">
                <div id="review_table">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Count</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(challengeOpt, index) in challengeMap" :key="index">
                            <td>
                                {{challengeTypesArray[index]}}
                            </td>
                            <td>
                                {{challengeCountArray[index]}}
                            </td>
                            <td>
                                <button @click="incrementOption(challengeTypesArray[index], 1)" class="challengeOpt">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </td>
                            <td>
                                <button @click="decrementOption(challengeTypesArray[index])" class="challengeOpt">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </td>
                            
                            <td>
                                <button @click="deleteOption(challengeTypesArray[index])" class="challengeOpt">
                                    <i class="fas fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h3>Total Reward</h3>
                <span>{{totReward}}</span>
            </div>
            </div>
            
            <div id="inputs_challenge">
                <button id="save_challenge" @click="saveChallenge()" style="background-color: #00e800;">
                    Save
                </button>
            </div>
        </div>
    </div>
</template>

<style scoped src="../../www/styles/stylesheets/challengeDetailsCreate.css"></style>
<style scoped src="../../www/styles/stylesheets/challengeDetailsCreate-device.css"></style>

<script>



import Swal from 'sweetalert2'
import 'sweetalert2/src/sweetalert2.scss'
import axios from 'axios'
import {MsgDictionary} from '../../www/utilities/Messages'
import {IconObj} from '../../www/utilities/IconObj'
import {PointTypesAndKeysBinder} from '../../www/utilities/PointTypesAndKeysBinder'
import {ipServer} from "../consts"

export default {
    name: 'challengecreatedetails',
    data() {
        return{
            missingName: false,
            totReward: 0,
            challengeName: '',
            challengeTypesArray: [],
            challengeCountArray: [],
            challengeMap: new Map(),
            challengeIconsTypes: new Map(),
            challengeRewards: new Map(),
            showTable:false,
            iconsPath: '../../www/icons/',
            iconsObj: [],
            typeSelected: '',
            subtypes: [],
            pointFields: [],
            pointTypes: new Map(),
        }
    },

    methods:{
        init(){
            console.log("CHALLENGE PANEL INIT!");
            this.loadIcons();
            axios.get("http://" + ipServer + ":3000/api/pointTypes")
                .then(response => {
                    for (let i = 0; i < response.data.length; i++) {
                        if (response.data[i].type !== undefined) {
                            let type = response.data[i].type;
                            let subtypes = [];
                            this.challengeRewards.set(response.data[i].key, response.data[i].reward);
                            for (let j = 0; j < response.data.length; j++) {
                                if (response.data[j].category === type) {
                                    subtypes.push(response.data[j].name);
                                    this.challengeRewards.set(response.data[j].key, response.data[j].reward);
                                }
                            }
                            this.pointTypes.set(type, subtypes);
                            subtypes = [];
                        }
                    }
                });
        },

        validateChallengeName(){
            this.missingName = this.challengeName.length === 0;
            return this.missingName;
        },

        showSettingFormForIcon(name){
            let n = name.toLowerCase();
            Swal.fire({
                title: 'Add Challenge',
                text: "Set the number of "+n+" to visit in this challenge",
                input: 'number',
                inputValue:1,
                inputAttributes: {
                    min: 1,
                }
            }).then((result)=> {
                let number = parseInt(result.value);
                if(number > 0){
                    if(!this.challengeMap.has(name)){
                        this.challengeMap.set(name, number);
                    }
                    this.updateTotalReward(name, number, true);
                    this.splitMapIntoArrays();
                    this.checkShowTable();
                }
            })
        },

        updateTotalReward(type, moltiplicator, isIncrement){
            let val = this.challengeRewards.get(type) * moltiplicator;
            val = isIncrement ? val : -val;
            this.totReward += val;
        },

        checkShowTable(){
            this.showTable = this.challengeMap.size > 0;
        },

        splitMapIntoArrays(){
            this.challengeTypesArray = [];
            this.challengeCountArray = [];
            for(var [k,v] of this.challengeMap.entries()){
                this.challengeTypesArray.push(k);
                this.challengeCountArray.push(this.challengeMap.get(k));
            }
        },

        incrementOption(key, step){
            let val = this.challengeMap.get(key) + step;
            this.challengeMap.set(key, val);
            this.updateTotalReward(key, step, true);
            this.splitMapIntoArrays();
        },

        decrementOption(key){
            let val = this.challengeMap.get(key);
            if(val === 1){
                this.deleteOption(key);
                return;
            }
            this.challengeMap.set(key, --val);
            this.updateTotalReward(key, 1, false);
            this.splitMapIntoArrays();      
        },

        deleteOption(key){
            let val = this.challengeMap.get(key);
            this.challengeMap.delete(key);
            this.updateTotalReward(key, val, false);
            this.checkShowTable()
            this.splitMapIntoArrays();
        },

        saveChallenge(){
            this.validateChallengeName();
            if(!this.missingName){
                if(this.challengeMap.size === 0){
                    Swal.fire({
                        title: 'Error',
                        text: 'You have to insert at least one chellenge',
                        type: 'error',
                    })
                }else{
                    this.$root.$emit(MsgDictionary.GLOBAL_SHOW_SPINNER, true);
                    let challenge = {};
                    challenge['Name'] = this.challengeName;
                    challenge['Reward'] = this.totReward;
                    challenge['Challenges'] = JSON.stringify([...this.challengeMap]);
                    axios.post("http://" + ipServer + ":3000/api/challenges", challenge) .then((response) => {
                        this.$root.$emit(MsgDictionary.GLOBAL_SHOW_SPINNER, false);
                        Swal.fire({
                                type: response.data.type,
                                title: response.data.title,
                                text: response.data.message,
                         });
                    });
                }
            }
        },

        loadIcons(){
            let tkBinder = new PointTypesAndKeysBinder();
            //  this.iconsObj.push(new IconObj('arc', tkBinder.getNameByKey('arc'), 'archeological-site.svg'));
            this.iconsObj.push(new IconObj('cas', tkBinder.getNameByKey('cas'),'castle.svg'));
            this.iconsObj.push(new IconObj('cat', tkBinder.getNameByKey('cat'),'church.svg'));
            this.iconsObj.push(new IconObj('his', tkBinder.getNameByKey('his'),'historic-site.svg'));
            this.iconsObj.push(new IconObj('mon', tkBinder.getNameByKey('mon'), 'monument.svg'));
            this.iconsObj.push(new IconObj('mus', tkBinder.getNameByKey('mus'), 'museum.svg'));
            this.iconsObj.push(new IconObj('par', tkBinder.getNameByKey('par'),'park.svg'));
            this.iconsObj.push(new IconObj('sta', tkBinder.getNameByKey('sta'),'statue.svg'));

            for(let i = 0; i < this.iconsObj.length; i++){
                this.challengeIconsTypes.set(this.iconsObj[i].name, 1);
            }
        },
    },

    mounted(){

        this.init();
    }
            
}
</script>