<template>
    <div id="distance-calculator">
    </div>
</template>

<script>
import Vue from 'vue'
import {MsgDictionary} from '../../www/utilities/Messages'   

export default {
    name: 'distance-calculator',

    data() {
        return {
            latitude: 0,
            longitude: 0,
            firstCalculation: true,
            markersReady: false,
            mapReady: false,
        }
    },

    props: {
        places: {
            type: Array
        }
    },

    methods: {
        
        init() {},

        async calculateDistances() {
            let travelMode = 'walk';
            for (var i = 0; i < this.places.length; i++) {
                let result = await this.getDistanceService(this.latitude, this.longitude, this.places[i].latitude, this.places[i].longitude, travelMode);
                this.places[i]['distance'] =  result.distance;
                this.places[i]['distanceText'] =  result.distanceText;
                this.places[i]['navigationTime'] = result.navigationTime;
            }
        },

       /* async getDistance(LatOrigin, LngOrigin, LatDest, LngDest, travelMode) {
            return this.getDistanceService(LatOrigin, LngOrigin, LatDest, LngDest);
        },*/

        getDistanceService(LatOrigin, LngOrigin, LatDest, LngDest, travelMode){
            let tMode = travelMode === 'walk' ? google.maps.TravelMode.WALKING : google.maps.TravelMode.DRIVING;
            return new Promise((resolve, reject) => {
                var origin = new google.maps.LatLng(LatOrigin, LngOrigin, LatDest, LngDest);
                var destination = new google.maps.LatLng(LatDest,LngDest);
                var service = new google.maps.DistanceMatrixService();
    
                service.getDistanceMatrix({
                    origins: [origin],
                    destinations: [destination],
                    travelMode: tMode,//google.maps.TravelMode.WALKING,
                    unitSystem: google.maps.UnitSystem.metric,
                    avoidHighways: true,
                    avoidTolls: false,
                }, (response, status) => {
                    let result = {}
                    if (status == 'OK') {
                        var origins = response.originAddresses[0];
                        var destinations = response.destinationAddresses[0];
                        var resultat;
                        var resultM;
                        if (response.rows[0].elements[0].distance !== undefined) {
                            result['distance'] = response.rows[0].elements[0].distance.value;
                            result['distanceText'] = response.rows[0].elements[0].distance.text;
                            result['navigationTime'] = response.rows[0].elements[0].duration.text;
                        } else {
                            result['distance'] = "Non disponibile";
                            result['distanceText'] = "Non disponibile";
                            result['navigationTime'] = "Non disponibile";
                        }                      
                    }
                    resolve(result);
                });
            });
        },
    },

    mounted() {

        this.$root.$on(MsgDictionary.POSITION_SENDING, (latitude, longitude) => {
           // console.log("RECEIVED NEW COORDINATE {lat: {"+latitude+"} , lon: {"+longitude+"}")
            if (this.latitude !== latitude || this.longitude !== longitude) {
                this.latitude = latitude;
                this.longitude = longitude;

                if (!this.firstCalculation && this.places.length > 0) {
                    this.calculateDistances();
                }
            }
        }); 

        this.$root.$on(MsgDictionary.ASK_PATH, (marker) => {
            this.getDistanceService(this.latitude, this.longitude, marker.latitude, marker.longitude, 'walk').then((result) => {
                result['LatOrigin'] = marker.latitude;
                result['LngOrigin'] = marker.longitude;
                this.$root.$emit(MsgDictionary.CLOSE_NAVIGATION_PANEL);
                if (marker.effective) {
                    setTimeout(() => {
                            this.$root.$emit(MsgDictionary.NAVIGATION_INFO, marker);
                    }, 500);
                } else {
                    this.$root.$emit(MsgDictionary.CLOSE_NAVIGATION);
                }
            });
        })

        // this.$root.$on(MsgDictionary.DISTANCE_NAVIGATION_ACTIVE, (marker, travelMode) => {
        //     this.getDistance(this.latitude, this.longitude, marker.latitude, marker.longitude, index, travelMode)
        // });

        this.$root.$on("navigation-update-request", (markerId) => {
            let m = {};
            for(let i = 0; i < this.places.length; i++){
                if(this.places[i]._id === markerId){
                    m = this.places[i];
                    break;
                }
            }
        });

        this.$root.$on(MsgDictionary.MAP_READY, () => {
            this.mapReady = true;
            this.calculateDistances();

            this.firstCalculation = false;
        
            this.init();
        });
    }
}

</script>