<template>
    <div id="filter_types">
        <div v-for="(type, index) in types" :key="index" class="form-check">
            <label :for="type">{{type}}
            <input v-if="type === 'All'" type="checkbox" :checked="selectedAll" @click="filterAll()">
            <input v-else :id="type" type="checkbox" :checked="selectedAll || selectedTypes.has(type)" @click="filterOn(type)">
            </label>
        </div>
    </div>
</template>


<style scoped src="../../www/styles/stylesheets/filterForMarkers.css"></style>

<script>
import axios from 'axios'
import {ipServer} from "../consts"
import {MsgDictionary} from '../../www/utilities/Messages'
import {CookiesManager} from "../../www/utilities/CookiesManager"
import {Cookies} from "../../www/utilities/Cookies"

export default {
     data(){
        return{
            CookiesManager: new CookiesManager(),
            types: [],
            selectedTypes: new Set(),
            selectedAll : true,
        }
    },

    methods: {
        async init(){
            await this.listTypes();
            let filters = this.CookiesManager.readCookie(Cookies.FILTERS);
            if( filters === '' || filters === null){
                this.showAll();
            }else{
                this.selectedTypes = new Set(filters.split(','));
                this.selectedAll = this.selectedTypes.size === this.types.length;
            }
        },

        listTypes(){
            return new Promise((resolve, reject) => {
                    axios.get("http://" + ipServer + ":3000/api/pointTypes")
                    .then(response => {
                    this.types.push("All");
                    for(let i = 0; i < response.data.length; i++){
                        let type  = response.data[i].category !== undefined ? response.data[i].name : response.data[i].type;
                        if(type !== "Other"){
                                this.types.push(type);
                        }
                    } 

                    this.selectedTypes = new Set(this.types);
                    resolve();
                });
            })
           
        },

        showAll(){
            this.setNewFilter(this.types);
        },

    
        filterAll(){
            this.selectedAll = !this.selectedAll;
            if(this.selectedAll){
                this.selectedAll = true;
                this.selectedTypes = new Set(this.types);
            }
            this.setNewFilter(Array.from(this.selectedTypes));
        },

        filterOn(type){
            if(this.selectedTypes.has(type)){
                this.selectedTypes.delete(type);
                this.selectedAll = false;
            }else{
                this.selectedTypes.add(type);
            }
            this.setNewFilter(Array.from(this.selectedTypes));
        },

        setNewFilter(filters){
            this.CookiesManager.writeCookie(Cookies.FILTERS, filters);
            this.$root.$emit(MsgDictionary.FILTER_ON_TYPE, filters);
        }

    },

    mounted(){
        this.init()
    }
}
</script>