<template>
    <div id="gps-manager">
    </div>
</template>

<script>
    export default {
        name: 'gps-manager',

        data(){
            return {}
        },

        methods: {

            init() {
                //this.locateMe();
                this.sendCoordinates();
            },

            async getLocation() {
                return new Promise((resolve, reject) => {
                    if(!("geolocation" in navigator)) {
                        reject(new Error('Geolocation is not available.'));
                    }
                    navigator.geolocation.getCurrentPosition(pos => {
                        resolve(pos);
                    }, err => {
                        reject(err);
                    });
                });
            },

            async locateMe() {
                this.gettingLocation = true;
                try {
                    this.gettingLocation = false; 
                    let gpsPosition = await this.getLocation();
                    this.sendCoordinates(gpsPosition.coords);

                } catch(e) {
                    this.gettingLocation = false;
                    this.errorStr = e.message;
                }
            },

            sendCoordinates(position) {
                //bus.$emit("coordinates", position.latitude, position.longitude);
                bus.$emit("coordinates", parseFloat(44.14778806479096), parseFloat(12.234715));
            },

            async startSimulatingNavigation(){
                let txtCoordinates = [
                    "44.1477674646468,12.23473777620506",
                    "44.14774340704201,12.234747163936612",
                    "44.147719349427405,12.23475386945915",
                    "44.14768566875051,12.234759904429433",
                    "44.147655356124865,12.234775327131269",
                    "44.147632150044814,12.234792451482406",
                    "44.14760616777166,12.234803850870719",
                    "44.14757826087293,12.234819944124808",
                    "44.147534957038445,12.23484006069242",
                    "44.14751282395522,12.234861435888194",
                    "44.14748347354946,12.234886246321581",
                    "44.14745604774727,12.234917762277506",
                    "44.14742814077757,12.23494726657667",
                    "44.14742525384892,12.235004263518237",
                    "44.14741544913028,12.235057996488749",
                    "44.147397165242495,12.235106276251017",
                    "44.147370220555445,12.23514114496821",
                    "44.147340870078764,12.23516997871512",
                    "44.14730056413881,12.23518708368632",
                    "44.147270732471455,12.235191777552096",
                    "44.147239938476424,12.235209211910693",
                    "44.14721169413732,12.235242084886954",
                    "44.14718090011149,12.235276953604147",
                    "44.147150106069624,12.235303105142043",
                    "44.14711738738251,12.235356078770087",
                    "44.14708274404697,12.235395641353056",
                    "44.14704858184895,12.235426486756728",
                    "44.14701634426371,12.235460014369414",
                    "44.146977370443075,12.235495553638861",
                    "44.14694465166022,12.235529081251547",
                    "44.146890998860876,12.235592115633063",
                    "44.146827485819955,12.235659170858435",
                    "44.146758198788284,12.235723543874792",
                    "44.14666774059671,12.235812056772284",
                    "44.14659652873142,12.2358871586247",
                    "44.14657535761973,12.235967624895148",
                    "44.146631172352286,12.236101735345892",
                    "44.146710082746196,12.236251939050726",
                    "44.146767821991986,12.2363914139195",
                    "44.1468563553925,12.236573804132513",
                    "44.14695836110236,12.236809838525824",
                    "44.14688522495091,12.236941266767554",
                    "44.14680920175007,12.237000275365881",
                    "44.14673799005542,12.237051237337164",
                    "44.14666966524058,12.23711158704",
                    "44.14660903893022,12.237167913429312",
                    "44.14655033720531,12.23722692202764",
                    "44.146490048485205,12.237276307574572",
                    "44.14643904524768,12.23731385850078",
                    "44.146403439187814,12.237339339486422",
                    "44.14634858656705,12.237230710021318",
                    "44.14630431950262,12.237138173810305",
                    "44.14625559933332,12.23704535713324",
                    "44.14621903083356,12.236966231967301",
                    "44.146182462311145,12.236893812323899",
                    "44.146163585863235,12.236865116269646",
                    "44.14614433925722,12.236822871477662",
                    "44.14611931866005,12.236771238954125",
                    "44.14609622271479,12.236728323609887",
                    "44.146074089092096,12.236684737713395",
                    "44.14605532362287,12.236643834025918",
                    "44.14603703931377,12.236609635860978",
                    "44.14601971733153,12.236574767143784",
                    "44.14600816934054,12.236551968367158",
                    "44.14599277201571,12.236520452411233",
                    "44.145981705186,12.236504359157143",
                    "44.14596967602091,12.236517770202218"
                ]
                let coordinates = [];

                for(let i = 0; i < txtCoordinates.length; i++){
                    let p = new Promise((resolve,reject) => {
                                setTimeout(()=> {
                                let c = txtCoordinates[i].split(",");
                            /* coordinates.push(
                                    {
                                        lat: parseFloat(c[0]),
                                        lng: parseFloat(c[1])
                                    }
                                )*/
                                bus.$emit("coordinates", parseFloat(c[0]), parseFloat(c[1]));
                                resolve();
                                }, 1000);
                            });
                    await p;
                }

              //  console.log(coordinates);

            }

        },

        mounted() {
            this.init();

            this.$root.$on("start-simulation", ()=> {
                this.startSimulatingNavigation();
            })
        }
        
    }


</script>