<template>
    <gmap-map v-if="mapReady" ref="gmap" :center="center" :zoom="zoom" @click="mapClicked" style="height: 100%" @center_changed="setNewCenter()">
        <gmap-marker :position="position"></gmap-marker>
        <div  v-for="(marker, index) in markers" :key="index" >
            <gmap-marker  
                v-if="selectedVisibleTypes.includes(marker.type)" 
                :opacity="getMarkerOpacity(marker.effective)"
                :icon="getIconObjectFromType(marker.type)" 
                :position="getPosition(index)" 
                :clickable="true" 
                @click="onMarkerClicked(marker)"
                >
            </gmap-marker>
            <gmap-info-window  :opened="infoBoxOpen && marker._id === markerSelected._id"  @closeclick="closeMarkerPanel()"  :position="{ lat: parseFloat(marker.latitude), lng: parseFloat(marker.longitude) }">
                <div class="infoWindow">
                    <div v-if="markerSelected.effective" ><!--list_rev ='list_rev()'-->
                        <marker-info :marker='marker' ></marker-info>
                    </div>
                    <div v-else>

                        <h3>This place has not been confirmed yet</h3>

                        <small v-bind:class="{'choice-hidden':checkIfCloseEnough(markerSelected)}">You will only be able to confirm this when you are closer</small>

                        <h5 v-bind:class="{'choice-hidden':!checkIfCloseEnough(markerSelected)}">Do you want to confirm it?</h5>

                        <div class="unconfirmed-place-choices">
                            <button class="markerOpt" @click="placeAcceptedByUser(markerSelected)" v-bind:class="{'choice-hidden':!checkIfCloseEnough(markerSelected)}">
                                <div>
                                    <i class="fas fa-check"></i>
                                    <span>Confirm this place</span>
                                </div>
                            </button>
                            <button class="markerOpt" @click="placeNotAcceptedByUser(markerSelected)" v-bind:class="{'choice-hidden':!checkIfCloseEnough(markerSelected)}">
                                <div>
                                    <i class="fas fa-times"></i>                            
                                    <span>Don't confirm</span>
                                </div>
                            </button>
                        </div>

                    </div>
                </div>
            </gmap-info-window> 
        </div>
    </gmap-map>  
</template>


<style>

    .unconfirmed-place-choices{
        width: inherit;
        display: flex;
        justify-content: space-around;
    }
  .choice-hidden {
      display: none;
  }


    .gmnoprint{
        display: none;
    }

    .gm-control-active{
        display: none;
    }
 
.markerOpt{
    color: #6495ed;
    background: transparent;
    border: none;
}

.markerOpt div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7vw;
}

.markerOpt div i{
    font-size: 2vw;
}


</style>

<script>

//https://pinetools.com/overlay-images
import Vue from "vue";
import {MsgDictionary} from '../../www/utilities/Messages'
import {PointTypesAndKeysBinder} from '../../www/utilities/PointTypesAndKeysBinder'

import axios from 'axios'
import Swal from 'sweetalert2'
import 'sweetalert2/src/sweetalert2.scss'
import {ipServer, maxScorePerLevel} from "../consts"
import router from "../../src/router";
import MarkerInfo from "../components/MarkerOpenInfo";
import {CookiesManager} from "../../www/utilities/CookiesManager"
import {Cookies} from "../../www/utilities/Cookies"
import {ReviewManager} from "../../www/utilities/ReviewManager"

Vue.component('marker-info', MarkerInfo);
require('../../public/bridge');

export default {
    name: 'gmap',
   
    props: {
        markers: {
            type: Array
        },

        // position: {
        //     type:Object
        // }
    } ,  

    data(){
        return {
            recenterTimeout: null,
            tkBinder: new PointTypesAndKeysBinder(),
            infoBoxOpen: false,
            markerSelected: "",
            center:  {lat: 44, lng: 12},     // university
            zoom: 12,
            maxZoom: 20,
            minZoom: 1,
            filesUploaded: [],
            CookiesManager: new CookiesManager(),
            firstCoordinates: true,
            scaledSize : null,
            iconMap: new Map(),
            selectedVisibleTypes: ["Church/Cathedral", "Monument" , "Park", "Castle", "Museum", "Historic site", "Statue"],
            mapReady: false,
            position: {lat: 44, lng: 12},     // university
            showPathActive: false,
            navigationActive: false,
            debugUserMoving: true
        }
    },

    methods:{ 
        async init(){
            await this.initMap();      
            this.setIconMap();              
            //console.log("Mappa inizializzata");
            this.mapReady = true;
        },  
/*
        list_rev(){
            this.$root.$emit("listrev");
        },*/

        getMarkerOpacity(effective) {
            if (effective) {
                return 1;
            } else {
                return 0.7;
            } 
        },

        review(marker) {   
            return new Promise((resolve,reject) => {
                 axios.post("http://" + ipServer + ":3000/api/checkCanMakeReview", marker).then(response => {              
                    if(response.data.content === 500){
                        Swal.fire({
                            type: response.data.type,
                            title: response.data.title,
                            text: response.data.message,
                        })
                    } else {
                        if(this.userReview === undefined){
                            this.userReview = {
                                Title: '',
                                Description: '',
                                Rating: 0
                            }
                        }
                        var place = {
                            name: marker.name,
                            _id: marker._id
                        }             
                        this.$root.$emit(MsgDictionary.CREATE_REVIEW, place, this.userReview)
                    }
                    resolve();
                });
            });
           
        },

        onNavigationClosed(){
            this.showPathActive = false;
            this.navigationActive = false;
            this.$root.$emit(MsgDictionary.RESET_PATH);
        },

        onNavigationActive(){
            this.navigationActive = true;
        },

        setNewCenter(){
            if(this.recenterTimeout != null){
                clearTimeout(this.recenterTimeout);
            };
            this.recenterTimeout = setTimeout(() => {
                this.center = this.$refs.gmap.$mapObject.center;
            }, 300)
        },

        closeMarkerPanel() {
            this.infoBoxOpen = false;
        },

        setIconMap(){
            this.iconMap.set("arc","archeological-site.png");
            this.iconMap.set("par","park.png");
            this.iconMap.set("mon","monument.png");
            this.iconMap.set("mus","museum.png");
            this.iconMap.set("his","historic_site.png");
            this.iconMap.set("sta","statue.png");
            this.iconMap.set("cas","castle.png");
            this.iconMap.set("cat","church.png");
        },

        async initMap() {
            //his.center = this.position;
        },

        setMarkerSize(){
            this.scaledSize = new google.maps.Size(60 , 40);
        },

        getIconObjectFromType(type){
            let iconName = this.iconMap.get(this.tkBinder.getKeyByName(type));
            let iconObj = {
                url: require(`../../www/new_icons/${iconName}`),
                scaledSize: this.scaledSize
            }
            return iconObj;
        },

        onMarkerClicked(m){
            if (this.showPathActive) {
                if(this.navigationActive){
                    if(this.markerSelected._id !== m._id){
                        Swal.fire({
                            title: 'Change actual destination?',
                            text: 'Are you sure to change previous destination and go to '+ m.name+ "? ",
                            showConfirmButton: true,
                            showCancelButton: true,
                            showCloseButton: true,
                            cancelButtonText: "No, keep my destination",
                            confirmButtonText: "Yes, change it",
                        }).then((result) => {
                            if(result.value){
                                this.$root.$emit(MsgDictionary.ASK_PATH, m);
                                this.infoBoxOpen = false;
                                this.markerSelected = m;
                            }
                        });
                    }
                }else{
                    this.$root.$emit(MsgDictionary.ASK_PATH, m);
                    this.infoBoxOpen = false;
                    this.markerSelected = m;
                }
            }else{
                this.markerSelected = m;
                this.infoBoxOpen = true;
            }
           // this.markerSelected = m;
            this.$root.$emit(MsgDictionary.CLOSE_MARKER_SLIDING);
        },

        getPosition(index){
            return {
                lat: parseFloat( this.markers[index].latitude),
                lng: parseFloat( this.markers[index].longitude)
            }
        },

        checkIfCloseEnough(marker) {
            // Si assume che una persona sia sufficientemente vicina al marker quando è ad almeno 800 metri
            /*if (marker.distance < 800) {
                return true;
            } else {
                return false;
            }*/
            return true
            
        },

        placeAcceptedByUser(marker) {           
            //if(this.checkIfCloseEnough(marker)){
                  
            axios.get("http://"+ ipServer + ":3000/api/userAction", { //check se l'utente ha già fatto questa azione?               
                params: {
                    place: marker._id,
                    action: "confirm"
                }
            }).then(response => {
                if (response.data != 'error') { //action permitted
                    axios.post("http://" + ipServer + ":3000/api/placeAccepted", marker).then((response) => {                
                        Swal.fire({
                            type: response.data.type,
                            title: response.data.title,
                            text: response.data.message,
                        })
                        if(response.data.content ==="effective_place"){                          
                            marker.effective = true
                            marker.accepted = 5                           
                            //this.markerBeingEffectively(marker)
                        }
                    })
                } else {
                    //action not permitted, already done                  
                    Swal.fire({
                        type: "ERROR",
                        title: "You already did this action",                       
                    })
                }        
             })   
        },

        placeNotAcceptedByUser(marker) {
           // if(this.checkIfCloseEnough(marker)){
            
            axios.get("http://"+ ipServer + ":3000/api/userAction", { //check se l'utente ha già fatto questa azione?
                params: {
                    place: marker._id,
                    action: "confirm"
                }
            }).then(response => {
                if (response.data != 'error'){ //action permitted
                    axios.post("http://" + ipServer + ":3000/api/placeNotAccepted", marker).then((response) => {
                    Swal.fire({
                        type: response.data.type,
                        title: response.data.title,
                        text: response.data.message,
                    })
                    if(response.data.content === "place_to_delete"){
                        this.removePlace(marker)                      
                    }
                })
                } else {
                     //action not permitted, already done                  
                    Swal.fire({
                        type: "ERROR",
                        title: "You already did this action",                       
                    })
                }
            })
        },

        onAddMarkerClicked(updating) {
            this.updatingMap = updating;
        },

        addNewMarker(point){
            this.markers.push(point)
        },

        removePlace(point){
            for(let i = 0 ; i < this.markers.length ; i++){
               if(this.markers[i]._id == point._id){
                   this.markers.splice(i,1) //removed
                   return //it terminates the function
               }
            }
        },

        //maybe it's INUTILE
        /*markerBeingEffectively(point){
           console.log("in marker being effective")
           for(var i=0; i<this.markers.length; i++){
               if(this.markers[i]._id === point._id){
                   console.log("found the motherfucker")
                   this.markers.splice(i,1)
               }
               return
           }
           console.log("ci arrivo?")
           this.markers.push(point)
        },*/


        /*
            lat: {44.14778806479096} , lon: {12.23473320115616}
        */
        mapClicked: function(event) {
            if (this.updatingMap) {
                let role = this.CookiesManager.readCookie(Cookies.ROLE)
                this.updatingMap = false;
                this.$root.$emit("clear-adding-marker-state");
                if (role == 2){ //admin
                    this.$root.$emit(MsgDictionary.MAP_NEW_MARKER_ADMIN, event)
                } else {
                    this.$root.$emit(MsgDictionary.MAP_NEW_MARKER, event)

                }              
            }
            if(this.debugUserMoving && this.navigationActive){
                console.info(event.latLng.lat() +","+ event.latLng.lng())
                this.$root.$emit("New coordinates", event.latLng.lat(), event.latLng.lng());
            }
        },

        centerMap(latitude, longitude) {
            if (latitude == undefined && longitude == undefined) {
                latitude =  parseFloat(this.position.lat);
                longitude =  parseFloat(this.position.lng)
            }   
            this.center = {lat: parseFloat(latitude), lng: parseFloat(longitude)};
        },

        setVisited() {
            let point = {};
            let nameForKey = this.markerSelected.subtype !== "" ? this.markerSelected.subtype : this.markerSelected.type
            point['idPlace'] = this.markerSelected._id;
            this.setThisMarkerVisited(this.markerSelected._id);
            axios.post("http://" + ipServer + ":3000/api/visited_places", point).then((response) => {
                Swal.fire({
                    type: response.data.type,
                    title: response.data.title,
                    text: response.data.message,
                });
            });
        },

        setThisMarkerVisited(id){
            for(let i = 0; i < this.markers.length; i++){
                if(this.markers[i]._id === id){
                    console.log("VISITED!");
                    this.markers[i].visited = true;
                    console.log(this.markers[i]);
                }
            }
        },

        togglePreferred() {
            let point = {};
            point['Id'] = this.markerSelected._id;
            point['addInFavourite'] = !this.markerSelected.favourite;
            this.markerSelected.favourite = !this.markerSelected.favourite;
            axios.post("http://" + ipServer + ":3000/api/favourites", point).then((response) => {
                //document.getElementById("pointInfoPanel").append(this.formToAppend);
               
                /*let score = response.data.TotReward
                let userLevel = Math.ceil(score / maxScorePerLevel)
                let userScore = score - (userLevel-1)*maxScorePerLevel
                let maxScore = maxScorePerLevel
                userLevel = 10
                //maxScore = 
                let htmlform ='Lv. '+userLevel+''+
                                '<b-progress :max="maxScore">'+
                                '<b-progress-bar :value="userScore">'+
                                    '<small>'+ userScore / maxScore +'</small>'+
                                '</b-progress-bar> </b-progress>'  */           
                Swal.fire({
                        type: response.data.type,
                        title: response.data.title,
                        text: response.data.message,
                });
            });
            this.$forceUpdate();
        },
    },

    mounted() { 

        this.$root.$on('show-marker-popup', (m) => {
            this.onMarkerClicked(m);
        })

        this.$root.$on(MsgDictionary.REVIEW_PLACE, (marker) => {
          this.review(marker);
        });

        this.$root.$on(MsgDictionary.NEW_FAVOURITE, () => {
            this.togglePreferred();
        });

        this.$root.$on(MsgDictionary.NEW_VISITED, () => {
            this.setVisited();
        });

        this.$root.$on(MsgDictionary.OK_YOU_ARE_CLOSE, () => {
            //this.closeEnough.resolve(true)
        });
        this.$root.$on(MsgDictionary.NO_TOO_FAR, () => {
            //this.closeEnough.resolve(false)
        });

        this.$gmapApiPromiseLazy().then(() => {
            this.setMarkerSize();
        });

        this.$root.$on(MsgDictionary.ADD_MARKER, (updating) => {
            this.onAddMarkerClicked(updating);
        });

        this.$root.$on(MsgDictionary.ON_MARKER_ADDED, (point) => {
            this.addNewMarker(point);
        });

        /*this.$root.$on(MsgDictionary.MARKER_ADDED, (point) => {
            markerBeingEffectively(point);
        });*/

        this.$root.$on(MsgDictionary.CENTER_MAP, () => {
            this.centerMap();
        });

        this.$root.$on(MsgDictionary.ASK_PATH, (marker) => {
            this.infoBoxOpen = false;                           // close info window
            this.showPathActive = true;
            console.log("SHOW PATH chiamato");
            this.$root.$emit(MsgDictionary.SHOW_PATH, marker, this.$refs['gmap'].$mapObject);
        });

        this.$root.$on(MsgDictionary.FILTER_ON_TYPE, (includedTypes) => {
             this.selectedVisibleTypes = includedTypes;
        });

        this.$root.$on(MsgDictionary.PLACE_CLICKED, (latitude, longitude) => {
            this.centerMap(latitude, longitude);
        });

        this.$root.$on("PlacesList inizialized", () => {
            //this.$root.$emit(MsgDictionary.POSITION_SENDING, this.position.lat, this.position.lng);
        });

        this.$root.$on("New coordinates", (latitude, longitude) => {
            this.position = {lat: latitude, lng: longitude};
            this.$root.$emit(MsgDictionary.POSITION_SENDING, this.position.lat, this.position.lng);
           // this.center = this.position;

            //console.log(this.center.lat + ", " + this.center.lng);
        })

        this.$root.$on(MsgDictionary.CLOSE_MARKER_PANEL, () => {
            this.closeMarkerPanel();
        })
        
        bus.$on("coordinates", (latitude, longitude) => {
            this.position = {lat: latitude, lng: longitude};
            this.$root.$emit(MsgDictionary.POSITION_SENDING, this.position.lat, this.position.lng);
            //console.log("New position from android: " + this.position.lat + ", " + this.position.lng);
            if (this.firstCoordinates) {
                this.center = this.position;
                this.firstCoordinates = false;
            }
        });
        
        this.$root.$on(MsgDictionary.CLOSE_NAVIGATION, () => {

            this.onNavigationClosed();
        });

        this.$root.$on(MsgDictionary.ACTIVE_NAVIGATION, () => {
            this.onNavigationActive();
        });

         this.init().then(() => {
             this.$refs.gmap.$mapPromise.then(() => {
                this.$root.$emit(MsgDictionary.MAP_READY);
            })
        });

        this.$root.$on("navigation_activated", () => {
            this.zoom = 18;
            this.centerMap();
        })

        
            
    }
}
</script>