<template>
    <div hidden>
            <div class="form-wrapper" id="addPointForm">
                    <div id="addPointContent">
                        <div v-for="(field, index) in pointFields" :key="index">
                            <div class="form-group">
                                <label class="form-label" v-bind:for="field.name">
                                    {{field.title}}
                                </label>
                                <b-form-input
                                    :id="pointFields._id"
                                    v-model="pointInputs[index]"
                                    class="form-input"
                                    v-bind:type="field.type"
                                ></b-form-input>
                            </div>
                        </div>

                        <div class="form-group" >
                            <label  class="form-label">
                                Type
                            </label>
                            <select required size="sm"  class="mt-3 form-control" v-model="typeSelected" >
                               <option  v-for="(type) in pointTypes" :key="type[0]" :value="type[0]">{{type[0]}}</option>
                            </select>
                        </div>

                        <!-- <div v-if="subtypes.length !== 0" class="form-group">
                            <label  class="form-label">
                                Category
                            </label>
                             
                            <select class="form-control" v-model="subtypeSelected">
                                <option v-for="(subtype) in subtypes" :key="subtype" :value="subtype">{{subtype}}</option>
                            </select> 
                        </div> -->
                            <input
                                type="file"
                                id="image_upload" name="image_upload"
                                accept="image/png, image/jpg, image/jpeg"
                                v-on:change="handleImage"
                                multiple>

                            <div id="imageReview">
                                <div v-for="imgSrc in filesUploaded" :key="imgSrc" class=''>
                                    <img :src="imgSrc" alt="Not available" class="img-thumbnail img-fluid rounded image_container">
                                </div>
                            </div>
                    </div>
            </div>
    </div>
</template>


<script>
import Vue from "vue";
import {MsgDictionary} from '../../www/utilities/Messages'
import Swal from 'sweetalert2'
import axios from 'axios'
import { ipServer } from '../consts';
import {PointTypesAndKeysBinder} from '../../www/utilities/PointTypesAndKeysBinder'

export default {
    name: 'markercreatedetails',
    data(){
        return{
            typeSelected: '',
            subtypes: [],
            pointFields: [],
            pointTypes: new Map(),
            pointInputs: [],
            filesUploaded: [],
            tkBinder: new PointTypesAndKeysBinder(),
        }
    },

    watch:{
        typeSelected: function(){
            if(this.typeSelected !== undefined){
                this.subtypes = this.pointTypes.get(this.typeSelected); 
            }
        }
    },

    methods:{

        async init(){
            await this.listFields();
            await this.listTypes();
        },

        async listFields() {
            return new Promise((resolve,reject) => {
                  axios.get("http://" + ipServer + ":3000/api/pointFields")
                    .then(response => {
                        this.pointFields = response.data;
                        for(let i = 0; i < this.pointFields.length; i++){
                            this.pointInputs[i] = "";
                            if(this.pointFields[i].type === 'select'){
                                this.options = this.splitOptions(this.pointFields[i].options)
                            }
                        }
                        resolve();
                });
            })
          
        },

        async listTypes() {
            return new Promise((resolve,reject) => {
                axios.get("http://" + ipServer + ":3000/api/pointTypes")
                .then(response => {
                    for (let i = 0; i < response.data.length; i++) {
                        if (response.data[i].type !== undefined) {
                            let type = response.data[i].type;
                            let subtypes = [];
                            for (let j = 0; j < response.data.length; j++) {
                                if (response.data[j].category === type) {
                                    subtypes.push(response.data[j].name);
                                }
                            }
                            this.pointTypes.set(type, subtypes);
                            subtypes = [];
                        }
                    }
                    resolve();
                });
            })
        },

        splitOptions(options){
             return options.split('/');
        },

        resetInputs(){
            console.log(this.pointFields);
            for(let i = 0; i  < this.pointFields.length; i++){
                this.pointInputs[i] = '';
            }
            this.typeSelected = '';
        },

        findKey(type) {
            let key = "";

            switch(type) {
                case "Church/Cathedral":
                    key = "cat";
                    break;
                case "Castle":
                    key = "cas";
                    break;
                case "Historic site":
                    key = "his";
                    break;
                case "Monument":
                    key = "mon";
                    break;
                case "Museum":
                    key = "mus";
                    break;
                case "Park":
                    key = "par";
                    break;
                case "Statue":
                    key = "sta";
                    break;
                default:
                    break;
            }

            return key;
        },

        addMarkerEffectively: function(event) {
        
            this.filesUploaded = [];
            let latitude = event.latLng.lat();
            let longitude = event.latLng.lng();
            
            this.addingPoint = true;
            let form =  document.getElementById('addPointContent');
            Swal.fire({            
                allowOutsideClick: false,
                showCloseButton: true,
                html: form,
                preConfirm: ()=>{
                            if(this.typeSelected ==""){
                                Swal.showValidationMessage("you have to specify e type")
                            }
                        }
            }).then((result)=> {
                document.getElementById('addPointForm').append(form);
                if(result.value){
                    this.$root.$emit(MsgDictionary.GLOBAL_SHOW_SPINNER, true);
                    let point = {};
                    let variables = {};
                    for( var i=0; i < this.pointFields.length; i++){
                        point[this.pointFields[i].name]= this.pointInputs[i];
                    }
                    point['latitude'] = latitude;
                    point['longitude'] = longitude;
                    point['type'] = this.typeSelected;
                //    point['subtype'] = this.subtypeSelected;
                    let images = [];
                    for (let i = 0; i < this.filesUploaded.length; i++) {
                        let image = {};
                        image['name'] = point.name;
                        image['base64'] = this.filesUploaded[i];    
                        images.push(image);
                        this.$root.$emit(MsgDictionary.CAROUSEL_ADD_IMAGE);
                    }
                    variables['point'] = point;
                    variables['images'] = images;
    
                    axios.post("http://" + ipServer + ":3000/api/interestPointsEffective", variables).then((response) => {

                        point['_id'] = response.data.point._id;
                        point['effective'] = true
                        this.$root.$emit(MsgDictionary.GLOBAL_SHOW_SPINNER, false)
                        Swal.fire({
                                type: response.data.response.type,
                                title: response.data.response.title,
                                text: response.data.response.message,
                        }).then((result) => {
                            this.$root.$emit(MsgDictionary.ON_MARKER_ADDED, point)                  
                            this.resetInputs()
                            this.images = []
                        })                   
                    })
                }
            })             
        },

        addMarkerNotEffectively: function(event) {            
            axios.get("http://" + ipServer + ":3000/api/hasEnoughScoreToAddPlace").then(response =>{              
                if(response.data.content === 500){  //l'utente non può creare nuovi posti
                  //  document.getElementById("addPointContent").append(this.formToAppend);
                    Swal.fire({
                        type: response.data.type,
                        title: response.data.title,
                        text: response.data.message,
                    });
                }else{ //l'utente può creare un nuovo posto
                    this.filesUploaded = [];
                    let latitude = event.latLng.lat();
                    let longitude = event.latLng.lng();
                    // this.markers.push(position);
                    this.addingPoint = true;
                    let form =  document.getElementById('addPointContent');
                    Swal.fire({            
                        allowOutsideClick: false,
                        showCloseButton: true,
                        html: form,
                        preConfirm: ()=>{
                            if(this.typeSelected ==""){
                                Swal.showValidationMessage("you have to specify e type")
                            }
                        }
                    }).then((result)=> {
                        document.getElementById('addPointForm').append(form);
                        if(result.value){
                            this.$root.$emit(MsgDictionary.GLOBAL_SHOW_SPINNER, true);
                            let point = {};
                            let variables = {};
                            for( var i=0; i < this.pointFields.length; i++){
                                point[this.pointFields[i].name]= this.pointInputs[i];
                            }
                            point['latitude'] = latitude;
                            point['longitude'] = longitude;
                            point['type'] = this.typeSelected;
                            //point['subtype'] = this.subtypeSelected;
                            let images = [];
                            for (let i = 0; i < this.filesUploaded.length; i++) {
                                let image = {};
                                image['name'] = point.name;
                                image['base64'] = this.filesUploaded[i];    
                                images.push(image);
                                this.$root.$emit(MsgDictionary.CAROUSEL_ADD_IMAGE);
                            }

                            variables['point'] = point;
                            variables['images'] = images;

                            point['key'] = this.findKey(point['type']);


                            axios.post("http://" + ipServer + ":3000/api/interestPoints", variables) .then((response) => {
                        
                                point['_id'] = response.data.point._id;                       
                                this.$root.$emit(MsgDictionary.GLOBAL_SHOW_SPINNER, false);
                                Swal.fire({
                                    type: response.data.response.type,
                                    title: response.data.response.title,
                                    text: response.data.response.message,
                                }).then((result) => {
                                    this.$root.$emit(MsgDictionary.ON_MARKER_ADDED, point);
                                    this.resetInputs();
                                    this.images = [];
                                });
                            });
                        }
                    })
                }
            })
        },

        handleImage: function(event) {
            let files = event.target.files;
            for (let i = 0; i < files.length; i++) {
                var reader = new FileReader();
                let img = new Image();

                reader.onload = ((e) =>  {
                    img.src = e.target.result;
                    this.filesUploaded.push(img.src);
                });
                reader.readAsDataURL(files[i]);
            }
        },
    },

    mounted(){
        
        this.$root.$on(MsgDictionary.MAP_NEW_MARKER, (event)=> {
            this.addMarkerNotEffectively(event);
        })

        this.$root.$on(MsgDictionary.MAP_NEW_MARKER_ADMIN, (event)=> {
            this.addMarkerEffectively(event);
        })


        this.init();
    }
}
</script>