<template>
    <div class="sidebar" v-if="this.dataReady">
        <transition name="slide">
            <div v-if="visible" class="sidebar-panel" >

                <div style="display: flex; justify-content: flex-end">
                    <button @click="closePressed()" style="background-color: transparent; border: none">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
        
                <div class="marker-info-title">
                    <h2>{{marker.name}}</h2>
                    <div  v-if="visited">
                        <i  class="fas fa-check"></i>
                    </div>
                 </div>
               
                <h4>{{marker.description}}</h4>

                <div style="margin-left: 15px;" v-if="this.averageRevRating !== null">
                    <star-rating  
                    :rating= this.averageRevRating
                    :read-only="true" 
                    :star-size="15"
                    :show-rating="false"
                    :inline="true"></star-rating>
                </div>

                <carousel :markerSelected="marker" style="width: 100%; height: 32vh;"></carousel> 

                <div v-if="reviewed" class="user-review" style="width: 100%; height: 12vh;">
                    <div class="user-review-text">
                        <div class="review-title">
                            <h3>{{ this.userReview.Title }}</h3>
                            <star-rating 
                            :rating=this.userReview.Rating 
                            :read-only="true" 
                            :star-size="20"
                            :show-rating="false"
                            :inline="true">
                            </star-rating> 
                        </div>
                        <span class="review-description">{{this.userReview.Description}}</span>                     
                    </div>
                    <div>
                        <button class="markerOpt" @click="modify_review">
                            <div>
                                <i class="far fa-edit"></i>
                                <span>
                                    Modify your reviews
                                </span>
                            </div>
                        </button>
                    </div>
                </div> 

                <div style="width= 100%; height: 12vh;">
                    <h4>Reviews from other users:</h4>
                    <div v-if="markerReviews.length > 0" id="my-carousel-reviews" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div v-for="(review,index) in markerReviews" :key="index"  class="carousel-item" v-bind:class="{active: index === carouselIndex}">
                                <div class="review-title" style="height:40px">
                                    <h4>{{ review.Title }}</h4>
                                    <star-rating 
                                    :rating=review.Rating 
                                    :read-only="true" 
                                    :star-size="20"
                                    :show-rating="false"
                                    :inline="true">
                                    </star-rating> 
                                </div>
                                <span class="review-description">{{review.Description}}</span> 

                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#my-carousel" role="button" data-slide="prev" @click="carouselPrev()">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#my-carousel" role="button" data-slide="next" @click="carouselNext()">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div v-else>
                        <i class="fas fa-pencil-alt" style="margin-right: 10px"></i>
                        <span>No reviews available for this place</span>
                    </div>
                </div>

                <div class="marker-details-actions">
                    <button class="markerOpt" v-if="!visited" @click="setVisited()">
                        <div>
                            <i class="far fa-flag"></i>
                            <span>Set visited</span>
                        </div>
                    </button> 
                    <button  v-if="visited && !reviewed" class="markerOpt" @click="review()">
                            <div>
                            <i class="far fa-comment-dots"></i>                            
                            <span>
                                Review this place!
                            </span>
                        </div>
                    </button>
                    <button  class="markerOpt" @click="togglePreferred()">
                        <div v-if="favourite === true">
                            <div class="marker-favourite">
                                <i class="fas fa-star"></i>
                                <span>Remove from favourite</span>
                            </div>
                        </div>
                        <div v-else>
                            <div>
                                <i class="far fa-star"></i>
                                <span>Add to favourite</span>
                            </div>
                        </div>
                    </button>

                    <button  class="markerOpt" @click="showPath(marker.latitude, marker.longitude)">
                        <div>
                            <i class="fas fa-directions"></i>
                            <span> Street Navigation</span>
                        </div>
                    </button>
                </div>

            </div>
        </transition>
    </div>
</template>

<style scoped src="../../www/styles/stylesheets/markerSlidingPanel.css">

 @import "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css";

.carousel-item.active{
     display: flex;
     justify-content: center;
     align-items: center;
 }
</style>
<style scoped src="../../www/styles/stylesheets/markerSlidingPanel-device.css"></style>


<script>
import Vue from "vue";
import axios from 'axios'   
import {store, mutations } from '@/store.js'
import { MsgDictionary } from '../../www/utilities/Messages';
import { ipServer } from '../consts';
import {ReviewManager} from "../../www/utilities/ReviewManager"

    export default {
        name: 'markers-details-slidingpanel',

        data() {
            return {
                dataReady: false,
                reviewed: false,
                reviews: [],
                visited: false,
                favourite: false,
                isPanelAlreadyOpen: false,
                visible: false,
                tooFar: false,
                marker: Object,
                userReview: '',
                markerReviews: [],
                distanceLimit: 800,
                averageRevRating: null,
                carouselIndex: 0,
                slide: 0,
                sliding: null,
            }						
        },

        methods: {
            init() {
                if (!this.visited && this.marker.distance > this.distanceLimit) {
                    this.tooFar = true;
                }
                this.favourite = this.marker.favourite;
            },

            setVisited() {
                this.$root.$emit(MsgDictionary.NEW_VISITED);
                this.visited = !this.visited;
            },

            togglePreferred() {
              this.$root.$emit(MsgDictionary.NEW_FAVOURITE);
              this.favourite = !this.favourite;
            },

            showPath() {
                this.$root.$emit(MsgDictionary.ASK_PATH, this.marker);
            },

            applyTransition() {
                mutations.toggleNav();
            },

            listReviews(){
                let obj = {};
                obj['_id'] = this.marker._id;
                this.userReview = ReviewManager.GetReviewOfPlace(this.marker._id);
                if (this.userReview === '') {
                    this.reviewed = false
                } else {
                    this.reviewed = true
                }
               /* axios.post("http://" + ipServer + ":3000/api/listSpecificMarkerReviews", obj)
                    .then(response => {
                        //this.userReview = response.data.userReview
                       // this.markerReviews = response.data.allReviews

                        if (this.userReview === '') {
                            this.reviewed = false
                        } else {
                            this.reviewed = true
                        }      
                    })  */
                this.dataReady = true;
            },

            review() {   
                this.$root.$emit(MsgDictionary.REVIEW_PLACE, this.marker);
            },

            modify_review() { //OK
                this.marker.place = this.marker.name;
                this.$root.$emit(MsgDictionary.UPDATED_REVIEW, this.marker, this.userReview);
            },

            openPanel() {
                this.listReviews();
                this.applyTransition();
                this.visible = true;
            },

            closePanel() {
                this.applyTransition();
                this.visible = false;
                this.dataReady = false;
            },

            averageReviewsRating(){           
                return new Promise((resolve, reject) => {
                    axios.post("http://"+ ipServer + ":3000/api/averageReviewsRating", this.marker)
                    .then(response => {                                      
                        this.averageRevRating = response.data; 
                        resolve();
                    })
                })
            },

            carouselPrev() {
                if(this.carouselIndex === 0) {
                    this.carouselIndex = this.markerReviews.length - 1;
                } else {
                    this.carouselIndex--;
                }
            },

            carouselNext() {
                if (this.carouselIndex < this.markerReviews.length -1) {
                    this.carouselIndex++;
                } else {
                    this.carouselIndex = 0;
                }
            },

            onSlideStart(slide) {
                this.sliding = true
            },


            onSlideEnd(slide) {
                this.sliding = false
            },

            closePressed() {
                if(this.visible){
                    this.closePanel();
                }
            }

        },

        mounted() {
            this.$root.$on(MsgDictionary.OPEN_MARKER_SLIDING, (v, m) => {
                this.visited = v;
                this.marker = m;
               // this.listReviews();
                this.openPanel();
                this.averageReviewsRating();
            });

            this.$root.$on(MsgDictionary.PANEL_RESET, (newMarker) => {
                if (newMarker != undefined) {
                    this.marker = newMarker;
                  //  this.listReviews();
                    this.init();
                }
            })

            this.$root.$on("review-updated", (place, review) => {
                this.userReview = review;
                this.reviewed = true;
            })
            this.$root.$on(MsgDictionary.CLOSE_MARKER_SLIDING, () => {
                this.closePressed();
            });

            this.init();
        }
    }

</script>