<template>
    <div id="pointInfoPanel" v-if="marker !== undefined">
        <div id="pointInfo" >
    
            <div class="marker-info-title">
                <h1>{{marker.name}}</h1>
                <div  v-if="visited">
                    <i  class="fas fa-check"></i>
                </div>
            </div>
            
            <div class="marker-info-actions">

                <button v-if="!visited" class="markerOpt" @click="setVisited(marker._id)">
                    <div>
                        <i class="far fa-flag"></i>
                        <span>Set visited</span>
                    </div>
                </button>      
                <button v-else-if="visited && !reviewed" class="markerOpt" @click="review()">
                    <div>
                        <i class="far fa-comment-dots"></i>
                        <span>Review this place</span>
                    </div>
                </button>
                <button v-else class="markerOpt" @click="modify_review()">
                    <div>
                        <i class="far fa-comment-dots"></i>
                        <span>Modify your review!</span>
                    </div>
                </button>

                <button  class="markerOpt" @click="togglePreferred(marker._id)">
                    <div v-if="isFavourite">
                        <div class="marker-favourite">
                                <i class="fas fa-star"></i>
                            <span>Remove from favourite</span>
                        </div>
                    </div>
                    <div v-else>
                        <div>
                            <i class="far fa-star"></i>
                            <span>Add to favourite</span>
                        </div>
                    </div>
                </button>

                <button class="markerOpt" @click="showPath(marker.latitude, marker.longitude)">
                    <div>
                        <i class="fas fa-directions"></i>
                        <span> Street Navigation</span>
                    </div>
                </button>

                <button class="markerOpt" @click="moreInfo()">
                    <div>
                        <i class="fas fa-info-circle"></i> 
                        <span> More info</span>
                    </div>
                </button>
            </div>         
        </div>
    </div>
       
</template>

<style scoped src="../../www/styles/stylesheets/markerOpenInfo.css"></style>
<style scoped src="../../www/styles/stylesheets/markerOpenInfo-device.css"></style>


<script>
import Vue from "vue"
import {MsgDictionary} from '../../www/utilities/Messages'
import {PointTypesAndKeysBinder} from '../../www/utilities/PointTypesAndKeysBinder'
import CarouselComponent from './Carousel'
import axios from 'axios'
import { ipServer } from '../consts';
import Swal from 'sweetalert2'
import {ReviewManager} from "../../www/utilities/ReviewManager"

Vue.component('carousel', CarouselComponent);

export default {
    name: 'marker-info',

     props: {
        marker: {
            type: Object
        }
    },

    data() {
        return {
            averageRevRating: 0,
            tkBinder: new PointTypesAndKeysBinder(),
            visited: this.marker.visited,
            isFavourite : this.marker.favourite,
            userReview : '',
            markerReviews : [],
            reviewed : false,
            dataReady: false,

        }
    },
    
    methods: {

        init() {
           /* this.marker = this.markerSelected;
            console.log(this.marker);
            this.getVisited();*/
            this.userReview = ReviewManager.GetReviewOfPlace(this.marker._id);
            if (this.userReview === '') {
                    this.reviewed = false
            } else {
                this.reviewed = true
            }
        }, 
/*
        list_rev(){
            console.log("CAMADONAAAAA");
            console.log("e ridaie")
        },

        listReviews(){
            let obj = {};
            obj['_id'] = this.marker._id;
            axios.post("http://" + ipServer + ":3000/api/listSpecificMarkerReviews", obj)
            .then(response => {
                console.log(response);                                                    
                this.userReview = response.data.userReview
                //this.markerReviews = response.data.allReviews
                if (this.userReview === '') {
                    this.reviewed = false
                } else {
                    this.reviewed = true
                }      
            })  
        },
        */

        modify_review() { 
            this.$root.$emit(MsgDictionary.UPDATED_REVIEW, this.marker, this.userReview);
        },

        moreInfo() {
            let markerSelected = this.marker;
            this.$root.$emit(MsgDictionary.MARKER_INFO_REQUEST, this.visited, markerSelected);
            this.$root.$emit(MsgDictionary.CLOSE_MARKER_PANEL);
        },

        review() {   
            this.$root.$emit(MsgDictionary.REVIEW_PLACE, this.marker);
        },

        showPath(latitude, longitude) {
            this.$root.$emit(MsgDictionary.ASK_PATH,  this.marker);
        },

        setVisited() {
            this.$root.$emit(MsgDictionary.NEW_VISITED);
            this.visited = this.marker.visited;
        },

        togglePreferred() {
            this.$root.$emit(MsgDictionary.NEW_FAVOURITE);
            this.isFavourite = this.marker.favourite;
        },
    },

    mounted() {
        
        this.init();

        this.$root.$on("review-updated", (place, review) => {
            if(place._id === this.marker._id){
                this.userReview = review;
                this.reviewed = true;
            }
        });

/*
        this.$root.$on("listrev",() => {
            list_rev();
        })*/

        /* this.$root.$on(MsgDictionary.PANEL_RESET, (newMarker) => {
            if (newMarker != undefined) {
                this.marker = newMarker;
                this.isFavourite = this.marker.favourite;
            }
            this.init();
        }) */

        /*this.$root.$on(MsgDictionary.ON_MARKER_SELECTED, (ms)=> {
            this.marker = ms;
            this.averageReviewsRating();
            this.init();
        }); */

    }
}
</script>