<template>
    <div  id="nav-info-container" v-bind:class="{open: this.open}" >

        <div class="title">
            <div>
                <h3>{{this.marker.name}}</h3>
                <h5>{{this.marker.description}}</h5>
            </div>
            <div>
                <button class="markerOpt" @click="closeNavigationPanel()">
                    <div>
                        <i class="fas fa-times"></i>
                    </div>
                </button>
            </div>
            
        </div>
        <div class="info">
            <div>
                <span>Distance</span>
                <span>{{this.distanceLeft}}</span>
            </div>
             <div>
                <span>Travel estimated time</span>
                <span>{{this.timeLeft}}</span>
            </div>
        </div>
        <div class="info-panel-actions">
            <button class="start-navigation" @click="activeNavigation()" v-if="!this.navigationActive">
                <div>
                    <i class="fas fa-running"></i>
                    <span> Go! </span>
                </div>
            </button>
           
        </div>
    </div>
</template>

<style scoped src="../../www/styles/stylesheets/navigationInfoPanel.css"></style>
<style scoped src="../../www/styles/stylesheets/navigationInfoPanel-device.css"></style>

<script>
import {MsgDictionary} from '../../www/utilities/Messages'
import Swal from 'sweetalert2'

export default {
    name: 'navigation-info',

     props: {
    },

    data() {
        return {
            marker: {},
            open: false,
            distanceLeft: 0,
            timeLeft: 0,
            navigationActive: false
        }
    },
    
    methods: {

        init() {
        }, 

        closeNavigationPanel(){
            this.navigationActive = false;
            this.open = false;
            this.$root.$emit(MsgDictionary.CLOSE_NAVIGATION);
        },

        activeNavigation() {
            this.navigationActive = true;

            if (this.marker._id == '5ed0cda33c622c348cb79a44') {
                Swal.fire({ 
                title: 'Do you want to start simulation?',
                showConfirmButton: true,
                showCancelButton: true,
                cancelButtonText: "No",
                confirmButtonText: "Yes",
                }).then((result) => {
                    this.$root.$emit(MsgDictionary.ACTIVE_NAVIGATION);
                    if(result.value) {
                        this.$root.$emit("start-simulation");
                    }
                })
            } else {
                this.$root.$emit(MsgDictionary.ACTIVE_NAVIGATION);
            }
        }
    },

    mounted() {
        
        this.$root.$on(MsgDictionary.NAVIGATION_INFO, (marker) => {
            this.marker = marker;
            this.distanceLeft = this.marker.distanceText;
            this.timeLeft = this.marker.navigationTime;
            this.open = true;
        });

        this.$root.$on(MsgDictionary.CLOSE_NAVIGATION_PANEL, () => {
            this.navigationActive = false;
            this.open = false;
        });

        this.$root.$on("update-navigation-info", (distance, time) => {
            this.distanceLeft = distance;
            this.timeLeft = time;
        });
        /*this.$root.$on(MsgDictionary.ON_MARKER_SELECTED, (ms)=> {
            this.marker = ms;
            this.averageReviewsRating();
            this.init();
        }); */

    }
}
</script>