<template>
    <div> 
        <ul id="places-list">
            <li v-for="(place, index) in places" :key="index">
               <button @click="clickPlace(place)"> 
                    <img :src="require(`../../www/icons/${iconMap.get(tkBinder.getKeyByName(place.type))}`)"> 
                    <span class="tab">
                        <div class="tab-column">
                            <span>
                                {{place.name}}
                            </span>
                            <small  v-if="place.distance != undefined">{{place.distanceText}}</small>
                            <div v-else class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </span>
                    <span v-if="place.favourite === true">
                        <div>
                            <img src="../../www/icons/preferred.svg" alt="">
                        </div>
                    </span> 
                </button>
            </li>
        </ul> 
    </div>
</template>

<style scoped src="../../www/styles/stylesheets/places-list.css"></style>


<script>
import Vue from 'vue'
import axios from 'axios' 
import {MsgDictionary} from '../../www/utilities/Messages'
import {ipServer} from "../consts"
import {PointTypesAndKeysBinder} from "../../www/utilities/PointTypesAndKeysBinder"


export default {
    data() {
        return {
            tkBinder: new PointTypesAndKeysBinder(),
            latitude: 0,
            longitude: 0,
            distancesReady: false
        }
    },

    props:{
        iconMap: {
            type: Map
        },

        places:{
            type: Array
        },
    },
    
    methods: {

        clickPlace(place) {
            this.$root.$emit(MsgDictionary.CLOSE_ALL_PANELS);
            this.$root.$emit(MsgDictionary.PLACE_CLICKED, place.latitude, place.longitude);
            this.$root.$emit("show-marker-popup", place);
        },

        init() {
            console.log("PlacesList inizialized");
        },
    },

    mounted() {
      
    }
    
}
</script>

