<template>
    <div hidden>
            <div class="form-wrapper" style="z-index:8000;" id="createReviewForm">
                    <div style="z-index:8000;" id="addReview">
                        <div v-for="(field, index) in reviewFields" :key="index">
                            <div class="form-group">
                                <label class="form-label" v-bind:for="field.name">
                                    {{field.name}}
                                </label>
                                <div v-if="field.name == 'Description' ">
                                    <b-form-textarea
                                        :id="reviewFields._id"
                                        v-model="reviewDescriptionVal"
                                        class="form-input"
                                        v-bind:type="field.type">
                                    </b-form-textarea>
                                </div>
                                <div v-else>
                                    <div v-if="field.name == 'Rating' ">
                                        <star-rating
                                            :id="reviewFields._id"
                                            v-model="reviewRatingVal"
                                            :show-rating="false"
                                            class="form-input"
                                        ></star-rating>
                                    </div>
                                    <div v-else>
                                        <b-form-input
                                            :id="reviewFields._id"
                                            v-model="reviewTitleVal"
                                            class="form-input"
                                            v-bind:type="field.type"
                                        ></b-form-input>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
            </div>         
    </div>
    
</template>
<script>

import Vue from "vue";
import {MsgDictionary} from '../../www/utilities/Messages'
import Swal from 'sweetalert2'
import axios from 'axios'
import { ipServer } from '../consts';
import StarRating from 'vue-star-rating'
import {ReviewManager} from "../../www/utilities/ReviewManager"

Vue.component('star-rating', StarRating);

export default {
    name: 'reviewformcreate',
    data(){
        return{
            reviewFields: [],
            reviewDescriptionVal: '',
            reviewTitleVal: '',
            reviewRatingVal: '',
            cont : 0,
            form: ''
        }
    },

    methods:{

        init(){
            console.log("REVIEW FORM CREATE INITIALIZED!!!!");
            this.listFields();
        },

        listVisitedPlacesId() {
          return new Promise((resolve, reject) => {
            axios.get("http://" + ipServer + ":3000/api/userPlaces")
              .then(response => {
                  this.placesId = response.data[0].Places;
                  resolve();
              }).catch(error => (console.log(error)));
          });
        },

        listVisitedPlaces(){
          let obj = [];
          for (let i = 0; i < this.placesId.length; i++) {
            obj[i] = this.placesId[i]['idPlace'];
          }

          return new Promise((resolve, reject) => {
            axios.post("http://" + ipServer + ":3000/api/findPlace",obj)
              .then(response => {
                this.places = response.data;
                resolve();
              }).catch(error => (console.log(error)));
          })
        },

        listFields: function() {
            axios.get("http://" + ipServer + ":3000/api/reviewFields")
                .then(response => {
                    this.reviewFields = response.data;                  
                })            
        },   


        //fare una funzione diversa per l'update della recensione (?)
        updateReview: function(place, value) {
            //if(this.form == ""){
            let form =  document.getElementById('addReview')
            //}
            this.reviewDescriptionVal = value.Description
            this.reviewTitleVal = value.Title
            this.reviewRatingVal = value.Rating
            
            //console.log(this.reviewDescriptionVal)
            
            Swal.fire({ //pop-up review ( Title-Description-Review )
                allowOutsideClick: false,
                showCloseButton: true,
                html: form
            }).then((result)=> { //click : OK
               
                document.getElementById('createReviewForm').append(form);
                
                
                //this.$forceUpdate();
                //console.log(this.reviewDescriptionVal)
                //quando tenti di scrivere una recensione da userplaces dovrebbe esserci un override di dei campi reviewTitleVal, ma questo non avviene
                //console.log(this.reviewDescriptionVal)
                if(result.value){
                   this.$root.$emit(MsgDictionary.GLOBAL_SHOW_SPINNER, true);
                   
                   var review = {
                        Title: this.reviewTitleVal,
                        Description: this.reviewDescriptionVal,
                        Rating: this.reviewRatingVal,
                        Place: place.place,
                        idPlace: place._id,
                    }
                    axios.post("http://" + ipServer + ":3000/api/review", review)
                    .then((response) => {
                        this.reviewInputs = [];
                        this.$root.$emit(MsgDictionary.GLOBAL_SHOW_SPINNER, false);
                        Swal.fire({ //show the result after you clicked : Ok and must show the point earned
                                type: response.data.type,
                                title: response.data.title,
                                text: response.data.message,
                        }).then((result) => {
                            ReviewManager.updateReviewOfPlace(place._id, review);
                            this.$root.$emit("review-updated", place, review);
                        })
                    })
                }
            })
        },

        addReview: function(place, value) {
           
            this.cont++
            //if(this.form == ""){
            
            let form =  document.getElementById('addReview')
            //}
            this.reviewDescriptionVal = value.Description
            this.reviewTitleVal = value.Title
            this.reviewRatingVal = value.Rating
            
            //console.log(this.reviewDescriptionVal)
            
            Swal.fire({ //pop-up review ( Title-Description-Review )
                allowOutsideClick: false,
                showCloseButton: true,
                html: form
            }).then((result)=> { //click : OK
               
                document.getElementById('createReviewForm').append(form);
                
                
                //this.$forceUpdate();
                //console.log(this.reviewDescriptionVal)
                if(result.value){
                   this.$root.$emit(MsgDictionary.GLOBAL_SHOW_SPINNER, true);
                   
                   var review = {
                        Title: this.reviewTitleVal,
                        Description: this.reviewDescriptionVal,
                        Rating: this.reviewRatingVal,
                        Place: place.name,
                        idPlace: place._id,
                    }
                   console.log(review)
                   axios.post("http://" + ipServer + ":3000/api/review", review)
                   .then((response) => {
                        this.reviewInputs = [];
                        this.$root.$emit(MsgDictionary.GLOBAL_SHOW_SPINNER, false);
                        //this.$root.$emit(MsgDictionary.UPDATED_REVIEW, review.idPlace, review);
                        Swal.fire({ //show the result after you clicked : Ok and must show the point earned
                                type: response.data.type,
                                title: response.data.title,
                                text: response.data.message,
                        }).then((result) => {
                            ReviewManager.updateReviewOfPlace(place._id, review);
                            this.$root.$emit("review-updated", place, review);
                        })
                    })
                }
            })
        },
    },

    mounted(){
        this.$root.$on(MsgDictionary.CREATE_REVIEW, (place, value) => {
            this.addReview(place, value)
        }),

        this.$root.$on(MsgDictionary.UPDATED_REVIEW, (place, value) => {
            //console.log(place);
            this.updateReview(place, value)
        })
        

        this.init()
    }
}
</script>