<template>
     <div id="search-bar">
        <div class="search-wrapper">
            <input type="text" v-model="search" />
            <!-- <button @click="searchPressed">Search</button> -->

        </div>

        <ul id="search-results" v-bind:class="{hide:searchEmpty}">
            <li class="card" v-for="(place, index) in filter" :key="index"> 
                <button @click="clickPlace(place.latitude, place.longitude)">{{ place.name }}</button>
            </li>
        </ul>

    </div> 
</template>

<style scoped src="../../www/styles/stylesheets/search-bar.css"></style>


<script>

import Vue from 'vue'
import axios from 'axios' 
import {ipServer} from "../consts"
import {MsgDictionary} from '../../www/utilities/Messages'

export default {
    name: 'search-bar',

    props: {
        places: {
            type: Array
        }
    },

    data() {
        return {
            search: '',
            searchEmpty: true
        }
    },

    methods: {

        clickPlace(latitude, longitude) {
            this.$root.$emit(MsgDictionary.PLACE_CLICKED, latitude, longitude);
            this.search = '';
        }, 

        searchPressed() {
            if (this.search !== '') {
                console.log("Search for : " + this.search);
                console.log("Fare in modo che si apra la lista");
            }
        }
    },

    mounted() {
        
    },

    computed: {
        filter() {
            if (this.search === '') {
                console.log("search vuota");
                this.searchEmpty = true;

            } else {
                this.searchEmpty = false;
            }

            return this.places.filter(p => {
                return p.name.toLowerCase().includes(this.search.toLowerCase())
            })
        }
    }
}
</script>