<template>
    
</template>

<script>

import {MsgDictionary} from '../../www/utilities/Messages'
import axios from 'axios'
import {ipServer} from "../consts"
import Swal from 'sweetalert2'

export default {
    name: "sharefunctioncomponent",
    data(){
        return{

        }
    },
    
    methods:{
        init(){
            console.log("SHARED FUNCTION COMPOENT INITIALIZED")
        },

        togglePreferred(id, marker){
            let point = {};
            point['Id'] = id;
            point['addInFavourite'] = !marker.favourite;
            marker.favourite = !marker.favourite;
            axios.post("http://" + ipServer + ":3000/api/favourites", point).then((response) => {
                Swal.fire({
                        type: response.data.type,
                        title: response.data.title,
                        text: response.data.message,
                });
            });
        },
    },

    mounted(){
        this.init();

       this.$root.$on(MsgDictionary.TOGGLE_FAVOURITE, (id, marker) => {
            this.togglePreferred(id, marker);
        });
    }
}
</script>