<template>
    <div hidden>
	<div class="form-wrapper" id="signinDiv" >
            <div id="provasign">
			<div v-for="(field,index) in fields" :key="index">
                <div class="form-group" v-if="field.type != 'radio' && field.type != 'image'">
                    <label class="form-label" v-bind:for="field.name">
                        {{field.name}}
                    </label>
                    <div class="inputGroup">
                        <div>
                            <b-form-input  
                                v-model="inputs[index]"
                                class="form-input"  
                                v-on:input="validate(index)"
                                v-bind:type="field.type" 
                                v-on:focus="onFocus($event)"
                                v-on:blur="onBlur($event)"
                                v-bind:class="{'is-invalid': invalids[index]}"
                                aria-describedby="input-live-feedback"
                            ></b-form-input>
                            <b-form-invalid-feedback id="input-live-feedback">
                                    {{field.validationerror}}
                            </b-form-invalid-feedback>
                        </div>
                        <button class="btn btn-default" v-on:click="togglePassword($event)" v-if="field.type === 'password'">
                                <i class="fas fa-eye"></i>
                        </button>
                    </div>
                </div>
        
                <div class="form-group" v-if="field.type == 'radio'">
                    <label v-bind:for="field.name" >
                            {{field.name}}
                    </label>
                    <div  style="display: flex; justify-content: space-between">
                        <b-form-radio-group v-for="opt in splitOptions(field.options)" v-model= "defaultSex" v-bind:key= "opt">
                            <b-form-radio v-bind:value= "opt" v-model= "inputs[index]">{{opt}}</b-form-radio>
                        </b-form-radio-group>
                    </div>
                </div>

				<div class="form-group" v-if="field.type == 'image'">
					<input
						type="file"
						id="image_upload" name="image_upload"
						accept="image/png, image/jpg, image/jpeg"
						v-on:change="handleImage"
						multiple>
					<!-- <img :src="imageUploaded" alt="Not available" class="img-thumbnail img-fluid rounded image_container"> -->
				</div>

            </div>

            <div v-if = !addAdmin >
                <input type="button" v-on:click="validateFormUser" value="Sign In">
                <p style="text-align:right;"><small><a href="#" @click="loginPressed">Go to Login</a></small></p>		
            </div>
           <div v-else> <!-- register a new admin-->
                <input type="button" v-on:click="validateFormAdmin" value="Register new Admin">
		   </div>
    </div>
	</div>
	</div>
</template>


<style scoped src="../../www/styles/stylesheets/signin.css"></style>
<style scoped src="bootstrap/dist/css/bootstrap.css"></style>
<style scoped src="bootstrap-vue/dist/bootstrap-vue.css"></style>

<script>

import router from "../../src/router";
import axios from 'axios' 
import Swal from 'sweetalert2'
import 'sweetalert2/src/sweetalert2.scss'

import BootstrapVue from 'bootstrap-vue'
import {MsgDictionary} from '../../www/utilities/Messages'
import {ipServer} from "../consts"

export default {
   name: 'signinForm',
   data() {
		return {
            addAdmin: false,
			fields: [],
			inputs: [], 
			inputsAdmin: [],
			invalids: [],
			imageUploaded: "",
			defaultSex: 'Not specified',
			showSpinner: false
		}
	},

	methods: {

		listFields: function() {
			axios.get("http://" + ipServer +":3000/api/fields")
				.then(response => {
					this.fields = response.data;
					for(let i = 0; i < this.fields.length; i++){
						if(this.fields[i].name === 'Sex'){
							this.inputs[i] = this.defaultSex;
						} else{
							this.inputs[i] = '';
						}
					}
				}).catch(error => (console.log(error)));
		},
		
		togglePassword(source){
			let el = source.target;
			let icon = el.closest('.inputGroup').getElementsByTagName('i')[0];
			let input = el.closest('.inputGroup').getElementsByClassName('form-input')[0];
			if(input.type === 'password') {
				input.type = 'text';
				icon.classList.remove('fa-eye');
				icon.classList.add('fa-eye-slash');
			} else if(input.type === 'text'){
				input.type = 'password';
				icon.classList.add('fa-eye');
				icon.classList.remove('fa-eye-slash');
			}
		},
		
		/*registerNewAdmin: function(){
			
		},*/

		register: function(type){
			let user = {};
			let role = {};
			for (let i = 0; i < this.fields.length; i++) {
				if (this.fields[i].name === "Photo") {
					if (this.imageUploaded != "") {
						user[this.fields[i].name] = this.imageUploaded;
					}
				} else {
					user[this.fields[i].name]= this.inputs[i]; 
				}
			}
			role['mail'] = user.Email;
			this.$root.$emit(MsgDictionary.GLOBAL_SHOW_SPINNER, true)
			if(type == "admin"){
				role['role'] = 2; //REGISTER ADMIN
				axios.post("http://" + ipServer + ":3000/api/newAdmin", user)
				.then((response) => {
				let resData = response.data;
				Swal.fire({
							type: resData.type,
							title: resData.title,
							text: resData.message,
				}).then((result) => {
					this.$root.$emit(MsgDictionary.GLOBAL_SHOW_SPINNER, false)
				});
			}).catch(error => (console.log(error)));
			
			}else{ //USER NORMALE
				role['role'] = 1;
				axios.post("http://" + ipServer + ":3000/api/fields", user)
				.then((response) => {
				let resData = response.data;
				Swal.fire({
							type: resData.type,
							title: resData.title,
							text: resData.message,
				}).then((result) => {
					this.$root.$emit(MsgDictionary.GLOBAL_SHOW_SPINNER, false)
				});
			}).catch(error => (console.log(error)));
			}				
		},

		handleImage: function(event) {
            let file = event.target.files;
			var reader = new FileReader();
			let img = new Image();

			reader.onload = ((e) =>  {
				img.src = e.target.result;
				this.imageUploaded = img.src;
			});
			reader.readAsDataURL(file);
    	},

		checkDefault(val){
			return val.includes('Not specified');
		},

		splitOptions(options){
				return options.split('/');
		},

		validateFormUser(){
			if(this.validateForm()){
				this.register("user")
			}
		},

		validateFormAdmin(){
			if(this.validateForm()){
				this.register("admin")
			}
		},

		validateForm(){
			let allValids = true;
			for(let i = 0; i < this.fields.length - 1; i++){
				let valid = !this.validate(i)
				allValids &= valid;
			}
			return(allValids)
			/*if(allValids){
				this.addUser();
			}*/
		},

		validate(index){
			let value = this.inputs[index];
			let field = this.fields[index];
			this.invalids[index] = false;
			if(field.mandatory){
				this.invalids[index] = !this.validateMandatory(field, value);
			}
			if(!this.invalids[index] && field.minsize && field.maxsize){
				this.invalids[index] = !this.validateLength(field, value);
			}
			if(!this.invalids[index] && field.regularexp){
				
				this.invalids[index] = !this.validateExpr(field, value);
			}
			if(!this.invalids[index] && field.minage && field.maxage){
				this.invalids[index] = !this.validateAge(field,value);
			}
			if(!this.invalids[index] && field.matchwith){
				this.invalids[index] = !this.validatePasswordMatch(field,value);
			}
			return this.invalids[index];
		},

		validateMandatory(field, value){
			if(value.length === 0){
				field.validationerror = "This field must not be empty!";
				return false;
			}
			return true;
		},

		validateLength(field, value){
			if(value.length < field.minsize){
				field.validationerror = "This field must contain at least "+ field.minsize +" characters!";
				return false;
			} else if(value.length > field.maxsize){
				field.validationerror = "This field must contain no more than "+ field.maxsize +" character!";
				return false;
			}
			return true;
		},

		validateExpr(field, value){
			let pattern = new RegExp(field.regularexp);
			if(!pattern.test(value)){
				field.validationerror = "Invalid input format!";
				return false;
			}
			return true;
		},

		validateAge(field, value){
			let today = Date.now();
			let digit = new Date(value).getTime();
			let millisecondsInADay = (1000 * 3600 * 24);
			let differenceOfDays = Math.ceil((today - digit) / millisecondsInADay);
			let years = differenceOfDays / 365;
			if(years < field.minage){
				field.validationerror = "Too young!";
				return false;
			}else if (years > field.maxage){
				field.validationerror = "Too old!";
				return false;
			}
			return true;
		},

		validatePasswordMatch(field, value){
			let index = 0;
			for(let i = 0; i < this.fields.length; i++){
				if(this.fields[i].name === 'Password'){
					index = i;
				}
			}
			if(this.inputs[index] !== value){	
				field.validationerror = "Password mismatch!";
				return false;
			}
			return true;
		},

		init: function() {
			this.listFields();
		},

		loginPressed: function() {
			router.push('/');
		},

		onFocus: function(event) {
			let source = event.target;
			source.closest('.form-group').classList.add("focused");
		},

		onBlur: function(event) {
			let source = event.target;
			let value = source.value;
			if (value === "") {
				source.closest('.form-group').classList.remove("focused");
			} 
		}
	},

	mounted(){
		this.init();

		this.$root.$on(MsgDictionary.ADD_ADMIN, () => {
            this.addAdmin = true;
            console.log("add admin"+this.addAdmin)
        });

	}
}
</script>