<template>
    <div class="sidebar" >
        <div class="sidebar-backdrop" @click="closeUserProfile" v-if="isPanelOpen">
        </div>
        <transition name="slide">
            <div v-if="isPanelOpen" class="sidebar-panel"  v-bind:class="{'small':isSmall, 'large':isLarge}">
                <div id="sp_header">
                    <h2>{{this.title}}</h2>
                    <!-- <button @click="closeUserProfile">
                            <i class="far fa-times-circle"></i>
                    </button> -->
                </div>

                <filterForMarkers v-if="showFiltersForMarkers"></filterForMarkers>

                <placesList v-if="showListedPlaces" :places="markers" :iconMap="iconMap"></placesList>

                <user-reviews v-if="showUserReviews" :places="visitedPlaces"></user-reviews>

                <user-places v-if="showUserPlaces" :places="visitedPlaces"></user-places>

                <challengecreatedetails v-if="showChallegeCreatePanel"></challengecreatedetails>

            </div>
        </transition>
    </div>
</template>

<style scoped src="../../www/styles/stylesheets/slidingPanel.css">

</style>

<style scoped src="../../www/styles/stylesheets/slidingPanel-device.css">

</style>

<script>

    import {MsgDictionary} from '../../www/utilities/Messages'
    import {SlidingOpt} from '../../www/utilities/SlidingPanelsOpt'
    import Vue from "vue";
    import axios from 'axios'
    import {store, mutations } from '@/store.js'
    import UserProfile from '../components/UserProfile'
    import PlacesList from '../components/PlacesList'
    import UserChallengeReviews from '../components/UserChallengeReview.vue';
    import UserPlaces from '../components/UserPlaces';
    import ChallengeCreateDetails from '../components/ChallengeCreateDetails'
    import {CookiesManager} from "../../www/utilities/CookiesManager"
    import {Cookies} from "../../www/utilities/Cookies"
    import FilterForMarkers from '../components/FilterForMarkers.vue';

    Vue.component('userProfile', UserProfile)
    Vue.component('filterForMarkers', FilterForMarkers)
    Vue.component('placesList', PlacesList)
    Vue.component('user-reviews', UserChallengeReviews)
    Vue.component('user-places', UserPlaces)
    Vue.component('challengecreatedetails', ChallengeCreateDetails)

    export default {
        name: 'slidingpanel',
        props: {

            visitedPlaces: {
                type: Array
            },

            markers: {
                type: Array
            },
            
            iconMap: {
                type: Map
            },
        },

        data(){
            return {
                isSmall:false,
                isLarge:false,
                title: "",
                showSliding: "",
                isPanelOpen: false,
                username: "",
                CookiesManager: new CookiesManager(),
                showFiltersForMarkers: false,
                showListedPlaces: false,
                showUserReviews: false,
                showUserPlaces: false,
                isChoiceAlreadyOpen: false,
                showChallegeCreatePanel: false
            }						
        },
        methods:{

            init(){
                this.username = this.CookiesManager.readCookie(Cookies.USERNAME);
            },

            closeUserProfile() {
                this.applyTransition(false);
            },

            resetConditions(){
                this.showFiltersForMarkers = false;
                this.showListedPlaces = false;
                this.showUserReviews = false;
                this.showUserPlaces = false;
                this.showChallegeCreatePanel = false;
                //this.showUserPlaces = true;

                this.isSmall = false;
                this.isLarge = false;
            },

            openPanel(panel){
                this.resetConditions();

               

                switch (panel){
                    case SlidingOpt.MARKER_FILTERS:
                        this.showFiltersForMarkers = true;
                        this.isSmall = true;
                        break;
                    case SlidingOpt.LISTED_PLACES:
                        this.showListedPlaces = true;
                        this.isSmall = true;
                        break;
                    case SlidingOpt.USER_REVIEWS:
                        this.showUserReviews = true;
                        this.isLarge = true;
                        break;
                    case SlidingOpt.USER_PLACES:
                        this.showUserPlaces = true;
                        this.isLarge = true;
                        break;
                    case SlidingOpt.CREATE_CHALLENGE:
                        this.showChallegeCreatePanel = true;
                        this.isLarge = true;
                        break;
                    default: break;
                }

                if (this.isPanelOpen) {
                    this.isPanelOpen = false;
                    setTimeout(() => {                    
                        this.isPanelOpen = true;
                    }, 500);
                }else{
                    this.isPanelOpen = true;
                }
            }
        },

        mounted(){

            this.$root.$on(MsgDictionary.OPEN_SLIDING_PANEL, (panel, title) => {
                this.title = title;
                this.openPanel(panel);
            });

            this.$root.$on(MsgDictionary.CLOSE_SLIDING_PANEL, () => {
                console.log("")
                this.isPanelOpen = false;
                this.resetConditions();
            });

            this.init();
        },
    }

</script>