
<template>
    <div id="spinner" style="display: none" v-bind:class="{spinnerOn:showSpinner}">
        <div class="spinner-border">
        </div>
    </div>
</template>

<script>

import {MsgDictionary} from '../../www/utilities/Messages'


export default {
    name: 'spinner',
     data(){
        return {
            showSpinner: ""
        }						
    },
    methods:{

        init(){
            console.log("Spinner initialized")
        },
    },

    mounted(){
        this.$root.$on(MsgDictionary.SHOW_SPINNER, (show)=> {
            this.showSpinner = show;
        });
        this.init();
    }
}
</script>


<style>

.spinnerOn{
    color: #42adff;
    position: absolute;
    opacity: 1;
    width: 100%;
    background:transparent;
    z-index: 1000;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.spinnerOn > div{
    width: 50px;
    height: 50px;
}
</style>