<template>
    <div id="street-navigator">
    </div>
</template>

<script>
import Vue from 'vue'
import {MsgDictionary} from '../../www/utilities/Messages' 
import Swal from 'sweetalert2'


export default {
    name: 'street-navigator',

    data() {
        return {
            latitude: 0,
            longitude:  0,
            navigationActive: false,
            map: "",
            directionsService: undefined,
            directionsRenderer: undefined,
            markerDest: {}
        }
    },

    methods: {
        init() {
            //console.log("Street navigation inizialized");
        },

        showPath() {
                var request = {
                    origin: new google.maps.LatLng(this.latitude, this.longitude),
                    destination: new google.maps.LatLng(this.markerDest.latitude, this.markerDest.longitude),
                    travelMode: 'WALKING'
                };
                
                if (this.directionsService === undefined || this.directionsRenderer === undefined) {
                    this.directionsService = new google.maps.DirectionsService();
                    this.directionsRenderer = new google.maps.DirectionsRenderer();
                    this.directionsRenderer.setMap(this.map);  
                    this.directionsRenderer.setOptions({suppressMarkers:true});
                }
                
                this.directionsService.route(request, (result, status) => {
                    if (status == 'OK' && this.directionsRenderer !== undefined) {
                        this.directionsRenderer.setDirections(result);
                    }
                });            
        },

        calculateNavigation() {
            this.showPath();
        },

        resetPath() {
             if (this.directionsRenderer != undefined) {
                this.directionsRenderer.setMap(null);
                this.directionsRenderer = undefined;
            }
        }
    },

    mounted() {

        this.$root.$on(MsgDictionary.ACTIVE_NAVIGATION, () => {
            this.navigationActive = true;
           // this.calculateNavigation();
            this.directionsRenderer.setOptions({preserveViewport: true});
            this.$root.$emit("navigation_activated");
        });

        this.$root.$on(MsgDictionary.RESET_PATH, () => {
            this.resetPath();
        })


        this.$root.$on(MsgDictionary.SHOW_PATH, (marker, map) => {
            this.markerDest = marker;
            this.map = map;
            this.showPath();
        });

        this.$root.$on(MsgDictionary.POSITION_SENDING, (latitude, longitude) => {
            //console.log("Street navigator aggiorna le coordinate");
            //this.latitude = latitude;
            //this.longitude = longitude;

            //  TEMPORANEO!!!
            if (this.latitude === 0 || this.longitude === 0) {
                this.latitude = latitude;
                this.longitude = longitude;
            } 
            //console.log("Navigation active:" + this.navigationActive);

            if (this.navigationActive) {
                this.latitude = latitude;
                this.longitude = longitude;
               // console.log("Calculate navigation");
                this.calculateNavigation();
                if(this.markerDest.distance < 5){
                      Swal.fire({
                            type: "success",
                            title: 'Destination reached!',
                            html: "<div><i class='fas fa-flag-checkered fa-5x'></i></div>",
                          //  html:true
                        }).then((result)=> {
                            this.navigationActive = false;
                            this.$root.$emit(MsgDictionary.CLOSE_NAVIGATION);
                            this.$root.$emit(MsgDictionary.CLOSE_NAVIGATION_PANEL);
                            //this.directionsRenderer.setOptions({preserveViewport: false});
                            this.$root.$emit(MsgDictionary.MARKER_INFO_REQUEST, this.markerDest.visited, this.markerDest);
                           // console.log(this.markerDest);
                        });
                }
                this.$root.$emit("update-navigation-info", this.markerDest.distanceText, this.markerDest.navigationTime );
            //    this.$root.$emit("navigation-update-request", this.markerDest._id);


            }
        }); 

        this.init();
    }
}
</script>