<template>
    <div id = "userReview">
        <div>
            <div v-for="(challenge) in challengeProgress" :key="challenge._id" class="challenge_component">
                <div class="component_header">
                    <div class="component_name">
                        <!-- <h3>{{challenge.id}}</h3> -->
                        <h3>{{challenge.name}}</h3>
                    </div>
                    <div class="component_reward">
                        <button v-if="!achievedChallenges.includes(challenge.id)" :disabled="!challenge.isAchieved()" v-bind:class="{not_achieved: !challenge.isAchieved()}" @click="getRewardOfChallenge(challenge.id)"> 
                               Get {{challenge.reward}} <img src="../../www/icons/coins.svg"> 
                        </button>
                        <span v-else>
                            <img src="../../www/icons/medal.svg" alt="">
                        </span>
                    </div>

                </div>
                <div class="component_body">
                    <ul>
                        <li v-for="(cco,index) in challenge.challenges" :key="index" class="component_single">
                            <div class="compoent_name">
                                <span>  {{cco.name}} </span>
                            </div>
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped bg-info" v-bind:class="{completed: cco.alreadyCompleted > 0}" role="progressbar" :style="{width: cco.alreadyCompleted/cco.toComplete*100 + '%'}" :aria-valuenow="cco.alreadyCompleted" aria-valuemin="0" :aria-valuemax="cco.toComplete">
                                    {{cco.alreadyCompleted}} / {{cco.toComplete}}
                              </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped src="../../www/styles/stylesheets/challengeReview.css"></style>

<script>

import Vue from 'vue'
import axios from 'axios' 
import Swal from 'sweetalert2'
import {MsgDictionary} from '../../www/utilities/Messages'
import {ChallengeObj} from '../../www/utilities/ChallengeObj'
import {ChallengeComponentObj} from '../../www/utilities/ChallengeComponentObj'
import {ChallengeProgressObj} from '../../www/utilities/ChallengeProgressObj'
import {PointTypesAndKeysBinder} from '../../www/utilities/PointTypesAndKeysBinder'
import { ipServer } from '../consts';

export default {

    props: {
        places: {
            type: Array
        }
    }, 

    data() {
        return {
            challenges:[],      // array of ChallengeObj, that represent an array that contains all the challenges stored by admins
            challengeProgress: [],   // array of ChallengeProgressObj
            achievedChallenges: [], //challenges already achieved by user
            visitedPlacesMap: new Map(),
            tkBinder: new PointTypesAndKeysBinder()
        }
    },

    methods: {

        async init() {
            await this.getAllChallenges();
            await this.getAchievedChallengesOfUser();
            this.setMapOfVisitedPlaces();
            this.calculateChallengesProgress();
        },

        setMapOfVisitedPlaces(){
            this.visitedPlacesMap = this.getMapOfVisitedPlaces();
        },


        /*
            Get all challenges created by admins. For each challenge an object of type ChallengeObj is created
            In a ChallengeObj object, the challenges are, for each place type, the amount of site of this type that had
            to be visit (ex monuments: 3 ; park: 2). When all challenges are completed, the entire ChallengeObj is achieved
        */
        getAllChallenges() {
            return new Promise((resolve,reject) => {
                axios.get("http://" + ipServer + ":3000/api/challenges")
                    .then(response => {
                        let data = response.data;
                        for(let i = 0; i < data.length; i++){
                            let id = data[i]._id;
                            let name = data[i].Name;
                            let reward = data[i].Reward;
                            let challenges = new Map(Object.entries(data[i].Challenges));
                            this.challenges.push(new ChallengeObj(id, name, reward, challenges));
                        }
                        resolve();
                    }).catch(error => (console.log(error)));
            });
        },

        /*
            retrieve an array with the ids of all challenged already achieved by this user
        */
        getAchievedChallengesOfUser() {
           return new Promise((resolve, reject) => {
                axios.get("http://" + ipServer + ":3000/api/challenge_achieved")
                    .then(response => {
                        if(response.data[0] !== undefined)
                            this.achievedChallenges = response.data[0].ChallengeAchieved;
                        resolve();
                    }).catch(error => (console.log(error)));
           });
        },

        /*
            After the visited places and all challenges are been retrieved, for each challenges a new object of type 
            ChallengeProgressObj is created. The parameter 'challenges' is setted in method getChallengeProgress, and 
            it stores the progress of a single challenge for a single type of place.
        */
        calculateChallengesProgress() {
            //iterate all over the challenges stored by admins
            for(let i = 0 ; i < this.challenges.length; i++){
                let cProgress = new ChallengeProgressObj(this.challenges[i].id, this.challenges[i].name, this.challenges[i].reward);
                cProgress.challenges = this.getChallengeProgress(this.challenges[i].name, this.challenges[i].challenges);
                this.challengeProgress.push(cProgress);
           }
        },

        /*
            For each challenge, get the single challenges progress:
            Ex:
                MyChallenge:
                    monuments : 2/3
                    park: 1/1
        */
        getChallengeProgress(name, challenge) {
            let challengeArray = Array.from(challenge.entries());
            let components = [];

            for(let i  = 0; i < challengeArray.length; i++) {
                let key = challengeArray[i][0];
                let required =  challengeArray[i][1];
                let totVisitedForThisType = 0;

                if (this.visitedPlacesMap.has(key)) {
                    totVisitedForThisType = this.visitedPlacesMap.get(key);
                } else {
                    let superKey = this.tkBinder.getSuperkeyFromKey(key);
                    if(superKey !== "" && superKey !== undefined){
                        totVisitedForThisType = this.visitedPlacesMap.get(superKey) === undefined ? 0 : this.visitedPlacesMap.get(superKey); 
                    }
                }
                totVisitedForThisType = totVisitedForThisType > required ? required : totVisitedForThisType;
                let cComponent = new ChallengeComponentObj(key, this.tkBinder.getNameByKey(key), required, totVisitedForThisType);
                components.push(cComponent);
            }

            return components;
        },

        /*
            Update the user progress and check this challenge as achieved
        */
        getRewardOfChallenge(id) {
            let challenge = this.getChallengeProgressById(id);
            if(!challenge.isAchieved()){
                Swal.fire({
                    title: "Not completed!",
                    text: "This challenge is not completed yet! Visit some other place to achieve this challenge!",
                    type: "error"
                }).then(() => {
                    return;
                });
            } else {
                axios.post("http://" + ipServer + ":3000/api/challenge_achieved", challenge).then((response) => {
                        Swal.fire({
                            type: response.data.type,
                            title: response.data.title,
                            text: response.data.message,
                        });
                });
            }
        },


        /*
           Get the challenge associated with this id, from collection challengeProgress
        */
        getChallengeProgressById(id) {
            for(let i = 0; i < this.challengeProgress.length; i++) {
                if(id === this.challengeProgress[i].id){
                    return this.challengeProgress[i];
                }
            }
        },

        /*
            For each type of place, set the amount of places visited for this type and store <type, amount> in a map
        */
        getMapOfVisitedPlaces() {
            let map = new Map();
            for(let i = 0; i < this.places.length; i++){
                let key = this.places[i].key;
                let count = 0;
                for(let j = 0; j < this.places.length; j++){
                    if(this.places[j].key === key){
                        count++;
                    } 
                }
                if(!map.has(key)) {
                    map.set(key, count);
                }
            }     
            return map;
        }

    },

    mounted() {
        this.init();
    }
    
}
        
</script>