<template>
    <div id = "userScoreSideNav"  class="profile-sidenav"> 
        <h3>User Score</h3>
    </div>
</template>

<script>

import Vue from 'vue'
import axios from 'axios' 
import {MsgDictionary} from '../../www/utilities/Messages'

export default {
    data(){
        return{
            score: [],
            hello: 'sunburn300.png'
        }
    },

    methods: {
        listPlaces: function(){
           /* console.log("faccio una get per prendere le score")
            axios.get('http://localhost:3000/api/userScore')
            .then(response => {
                this.score = response.data;
                console.log(this.score);
            }).catch(error => (console.log(error)));*/
        },

        openNav() {
            document.getElementById("userScoreSideNav").style.width = "50%";
            
        },

        closeNav() {
            document.getElementById("userScoreSideNav").style.with = "0";
        },
    

        init: function() {
            this.listPlaces();
        },
    },

    mounted(){
        this.init();
        
    }
}
        
</script>