<template>
    <div id="userProfile">
        <userChallengeReview v-if="showUserReview">

        </userChallengeReview> 
        <userPlaces  v-if="showUserPlaces">

        </userPlaces>
        <userScore  v-if="showUserScore">

        </userScore>
    </div>
</template>

<script>

import Vue from "vue";
import axios from 'axios'
import {MsgDictionary} from '../../www/utilities/Messages'
import UserChallengeReview from '../components/UserChallengeReview'
import UserPlaces from '../components/UserPlaces'
import UserScore from '../components/UserScore'
import { ipServer } from '../consts';

Vue.component('userChallengeReview', UserChallengeReview)
Vue.component('userPlaces', UserPlaces)
Vue.component('userScore', UserScore)


export default {
      data(){
        return{
            showUserReview: false,
            showUserScore: false,
            showListedPlaces: false,
            showUserPlaces: false,
        }
    },

    methods: {
        async init() {
            console.log("UserProfileManager initialized!");
            await this.getVisitedPlaces();
            await this.getUserChallenge();

            this.calculateChallengesProgress();
        },

        getVisitedPlaces(){
           return new Promise((resolve, reject) => {
                 console.log("Getting visited places...");
                 axios.get("http://" + ipServer + ":3000/api/userPlaces")
                    .then(response => {
                        this.visitedPlaces = response.data[0].Places;
                        resolve();
                    }).catch(error => (console.log(error)));
           });
        },

        getUserChallenge(){
            return new Promise((resolve,reject) => {
                console.log("Getting challenges...")
                    axios.get("http://" + ipServer + ":3000/api/challenges")
                            .then(response => {
                                this.challenges = response.data;
                                resolve();
                            }).catch(error => (console.log(error)));
                });
        },

        showPanel(panel){
            this.resetConditions();
            switch(panel){
                case  "review":
                    this.showUserReview = true;
                    break;
                case "score":
                    this.showUserScore = true;
                    break;
                case "places":
                    this.showUserPlaces = true;
                    break;
                case "list_places":
                    this.showListedPlaces = true;
                    console.log("SHOW LISTED PLACES");
                    break
                default : break;
            }
        },


        resetConditions(){
            this.showUserReview = false;
            this.showUserScore = false;
            this.showUserPlaces = false;
            this.showListedPlaces = false;
        },

        calculateChallengesProgress(){
            console.log("Calculating progress...");
        }
    },

    mounted(){
        this.$root.$on(MsgDictionary.SHOW_USER_PROFILE_PANEL, (panel)=> {
            this.$root.$emit(MsgDictionary.HIDE_EDIT_CHALLENGE);
            this.$root.$emit(MsgDictionary.HIDE_MAP);
            this.showPanel(panel);
        });

         this.$root.$on(MsgDictionary.HIDE_USER_PANELS, (panel)=> {
            this.resetConditions();
        });
        
        this.init();
    }
}
</script>