<template>
    <div id = "profileSlidingPanel" v-bind:class="{hide: false}"> 
        <!--       -->
        <!-- <img id="profileImage" :src="require(`../../www/images/${photo}`)"/> -->

        <div class="form-group" id="form-input"> 
            <input hidden
                type="file"
                id="image_upload" name="image_upload"
                accept="image/png, image/jpg, image/jpeg"
                v-on:click="handleImage"
                >
                <label for="image_upload">
                    <img style="width:30px; heigth:30px;" src="../../www/icons/change_profile_pic.svg" alt="">
                </label>
        </div>        
    </div>
</template>

<style scoped src="../../www/styles/stylesheets/userProfile.css">
</style>

<script>

import Vue from 'vue'
import axios from 'axios' 
import {MsgDictionary} from '../../www/utilities/Messages'
import {store, mutations } from '@/store.js'
import {ipServer} from "../consts"
import {CookiesManager} from "../../www/utilities/CookiesManager"
import {Cookies} from "../../www/utilities/Cookies"
require('../../public/bridge');

export default {
    data() {
        return {
            photo: "",
            CookiesManager: new CookiesManager(),
        }
    },

    methods: {

        listFields: function() {
             axios.get("http://" + ipServer + ":3000/api/userPhoto")
            .then(response => {
                this.photo = response.data.Photo;
                if (this.photo === undefined) {
                    this.setPhoto();
                }

                console.log("Photo");
                console.log(this.photo);
            }).catch(error => (console.log(error)));
        },

        imageLoaded(base64img) {
            this.photo = base64img;
            var photo = {'Photo' : this.photo};
            axios.post("http://" + ipServer + ":3000/api/updateProfileImage", photo)
			.then((response) => {
                document.getElementById("profileImage").src = this.photo;
            }).catch(error => (console.log(error)));
        },  
  
        handleImage: function(event) {
            //Android.openGallery();
            //let img = camera.startCameraActivity(context);

            console.log("Immagine selezionata");

            let files = event.target.files;
            for (let i = 0; i < files.length; i++) {
                var reader = new FileReader();
                let img = new Image();

                reader.onload = ((e) =>  {
                    img.src = e.target.result;
                    this.photo = img.src;
                    document.getElementById("profileImage").src = this.photo;
                });
                reader.readAsDataURL(files[i]);
            }
        },

        setPhoto() {
            if (this.CookiesManager.readCookie(Cookies.SEX) === "F") {
                this.photo = "girl.png";
            } else  if (this.CookiesManager.readCookie(Cookies.SEX) === "M") {
                this.photo = "boy.png";
            } else {
                this.photo = "user.png";
            }
            document.getElementById("profileImage").src = this.photo;
        },
    
        init() {
            this.listFields();
        }
    },

    computed: {
        isProfileOpened() {
            return !store.isProfileOpen;        
        }
    },

    mounted() {
        this.init();

      
    }
}
</script>

<style>
    body {
      font-family: "Lato", sans-serif;
    }

    .sidenav-profile {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .sidenav-profile a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .sidenav-profile a:hover {
      color: #f1f1f1;
    }

    .sidenav-profile .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
      .sidenav-profile {padding-top: 15px;}
      .sidenav-profile a {font-size: 18px;}
    }
</style>
