<template>
    <div id = "userPlaces" v-bind:class="{hide: hidePanel}" >  
      <div  id="title">
        <h2>{{actualType}}</h2>
      </div>
      
      <div class="container">
     
          <ul class="nav-tabs">
              <li class="active">
                  <a data-toggle="tab" @click="filterPlacesOn('all', 'All')" href="#all">
                      <img src="../../www/icons/all_types.svg" alt="" class="filter_type_icon">
                  </a>
              </li>
              <li v-for="(icon, index) in iconsObj" :key="index">
                  <a data-toggle="tab" @click="filterPlacesOn(icon.name, icon.title)" :href="`#${icon.name}`">
                      <img :src="require(`../../www/icons/${icon.path}`)" alt="" class="filter_type_icon">
                  </a>
              </li>
          </ul>

        <div class="tab-content">
          <div id="all" class="tab-pane fade in active  visited_places_container">
            <div v-for="(place,index)  in places" :key="index">
              <div class="place_visited">
                <div class="card">
                  <div class="card-body">
                    <div class="visited_places_content">
                        <div class="info_visited_places">
                                  <div class="header_visited_places">
                                    <span>
                                      {{place.name}}
                                    </span>
                                    <div style="margin-left: 15px;" v-if="placesAndReviews.get(place._id) !== undefined">
                                        <star-rating  
                                          :rating= placesAndReviews.get(place._id).Rating
                                          :read-only="true" 
                                          :star-size="15"
                                          :show-rating="false"
                                          :inline="true" ></star-rating>
                                    </div>
                                  </div> 
                                  <div class="body_visited_places">
                                    <div v-if="placesAndReviews.get(place._id) !== undefined">
                                      <div style="display:flex" class="review-panel">
                                          <strong>{{placesAndReviews.get(place._id).Title}} </strong>
                                          <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">
                                            <span>{{placesAndReviews.get(place._id).Description}}</span>
                                          </div>
                                          <input type="button" class="show_more" @click="showMoreAboutReview(place._id)" value="Show more">
                                      </div>
                                    </div>
                                  </div>
                        </div>
                        <div class="action_visited_places">
                            <button data-toggle="tooltip" data-placement="top" title="Localize">
                              <img src="../../www/icons/localize.svg" alt="" class="option_icon" @click="centerMapOnPlace(place.latitude, place.longitude)">
                            </button>
                            
                            <button  v-bind:class="{opacized: placesAndReviews.get(place._id) !== undefined}" :disabled="placesAndReviews.get(place._id) !== undefined" @click="review(place)" >
                                  <img  src="../../www/icons/review.svg" alt="" class="option_icon" >
                            </button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
          <div :id="icon.name" class="tab-pane fade visited_places_container" v-for="(icon, index) in iconsObj" :key="index">
              <!-- <h3>{{icon.title}}</h3> -->
              <div v-for="(place,index)  in places" :key="index">
                  <div v-if="place.key === icon.name">
                    <div class="place_visited">
                      <div class="card">
                        <div class="card-body">
                            <div class="visited_places_content">
                              <div class="info_visited_places">
                                  <div class="header_visited_places">
                                   <span>
                                    {{place.name}}
                                  </span>
                                    <div style="margin-left: 15px;" v-if="placesAndReviews.get(place._id) !== undefined">
                                      <star-rating  
                                        :rating= placesAndReviews.get(place._id).Rating
                                        :read-only="true" 
                                        :star-size="15"
                                        :show-rating="false"
                                        :inline="true" ></star-rating>
                                    </div>
                                  </div>
                                  <div v-if="placesAndReviews.get(place._id) !== undefined">
                                       <div v-if="placesAndReviews.get(place._id) !== undefined" class='visited-place-bottom'>
                                          <div style="display:flex" class="review-panel">
                                              <strong>{{placesAndReviews.get(place._id).Title}} </strong>
                                              <div style="width:50%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">
                                                <span>{{placesAndReviews.get(place._id).Description}}</span>
                                              </div>
                                              <input type="button" class="show_more" @click="showMoreAboutReview(place._id)" value="Show more">
                                          </div>
                                        </div>
                                  </div>
                              </div>
                              <div class="action_visited_places">
                                <button  data-toggle="tooltip" data-placement="top" title="Localize">
                                  <img  src="../../www/icons/localize.svg" alt="" class="filter_type_icon" @click="centerMapOnPlace(place.latitude, place.longitude)">
                                </button>
                                <button v-bind:class="{opacized: placesAndReviews.get(place._id) !== undefined}" @click="review(place)" :disabled="placesAndReviews.get(place._id) !== undefined" >
                                      <img  src="../../www/icons/review.svg" alt="" class="filter_type_icon">
                                </button>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="card"  v-if="!placesNotVisited.get(icon.name)">
                <div class="card-body">
                  <div  class="place_not_visited">
                    <h3>Ups... it seems you haven't visited any places of this type yet!</h3>
                    <span>What are you waiting for? Go to map and visit some new places!</span>
                    <img src="../../www/icons/destination.svg" alt="" class="visit_place_icon">
                  </div>
                </div>
               </div>
          </div>
        </div>
      </div>
    </div>
</template>

<style scoped src="../../www/styles/stylesheets/userPlaces.css"></style>
<style scoped src="../../www/styles/stylesheets/userPlaces-device.css"></style>


<style scoped>
  .opacized{
    opacity: 0.2;
    filter: brightness(70%);
    
  }
</style>
<script>

import Vue from 'vue'
import axios from 'axios' 
import {MsgDictionary} from '../../www/utilities/Messages'
import {PointTypesAndKeysBinder} from '../../www/utilities/PointTypesAndKeysBinder'
import {ipServer} from "../consts"
import {store, mutations } from '@/store.js'
import {IconObj} from '../../www/utilities/IconObj'
import StarRating from 'vue-star-rating'
import Swal from 'sweetalert2'


export default {
    props: {
        places: {
            type: Array
        }
    }, 
    
    data(){
        return{
            tkBinder: new PointTypesAndKeysBinder(),                            
            placesNotVisited: new Map(),
            placesAndReviews: new Map(),
            iconsPath: '../../www/icons/',
            hello: 'sunburn300.png',
            pointTypes: [],
            iconsObj: [],
            userReviews: [],
            actualType: "All",
            hidePanel: false,
        }
    },

    methods: {

        async init(){
            await this.getPointTypes();
            await this.getReviewsOfUser();
            this.bindReviewsWithPlaces();
            this.setNotVisitedPlacesByUser();
            this.loadIcons();
        },


        getPointTypes(){
          return new Promise((resolve, reject) => {
           axios.get("http://" + ipServer + ":3000/api/pointTypes")
                .then(response => {
                    this.pointTypes = response.data;

                    console.log(this.pointTypes);

                    resolve();
                });
          });
        },

        getReviewsOfUser(){
            return new Promise((resolve, reject) => {
                axios.get("http://" + ipServer + ":3000/api/userReviews")
                    .then(response => {
                        this.userReviews = response.data;
                        resolve();
                    });
                });
        },

        centerMapOnPlace(latitude, longitude) {
          this.$root.$emit(MsgDictionary.CLOSE_ALL_PANELS);
          this.$root.$emit(MsgDictionary.PLACE_CLICKED, latitude, longitude);
        },

        bindReviewsWithPlaces() {
          for(let i = 0; i < this.places.length; i++){   

              for(let j = 0; j < this.userReviews.length; j++) {
                let reviewPlaceId = this.userReviews[j].idPlace;  
        
                if(this.places[i]._id === reviewPlaceId && this.places[i]._id != undefined){
                    
                    this.placesAndReviews.set(this.places[i]._id, this.userReviews[j]);
                }
              }
          }

        },
        /*
          Check for all types if user has visited at least one place for the considered type
        */
        setNotVisitedPlacesByUser(){
            for(let i = 0 ; i < this.pointTypes.length; i++){
                this.placesNotVisited.set(this.pointTypes[i].key, this.hasThisPlaceBeenVisited(this.pointTypes[i].key));
            }
        },

        hasThisPlaceBeenVisited(pointType){
          for (let i = 0; i < this.places.length; i++){
              if (this.places[i].key === pointType){
                  return true;
              }
          }
          return false;
        },
        
        filterPlacesOn(option, name){
          this.actualType = name;
        },

        showMoreAboutReview(idPlace){
          return new Promise((resolve,reject) => {
        
            let values = this.placesAndReviews.get(idPlace);
            
            console.log(values)
            
            var place = {
              place: values.Place,
              _id : values.idPlace
            } 
            console.log(place)
            this.$root.$emit(MsgDictionary.UPDATED_REVIEW, place, values);
            })
            /*
            Swal.fire({
                type: 'info',
                title: values.Title,
                text: values.Description,
                confirmButtonText: "Edit",
                confirmButtonColor: "#0bcf00",
                showCloseButton: true,
            }).then((result) => { //you can modify the review
                if(result.value){
                    var place = {
                        place: values.Place,
                        _id : values.idPlace
                    } //modify the current review
                    //this.$root.$emit(MsgDictionary.UPDATED_REVIEW, place, values);
                    //eventualmente chiamare la funzione qui sotto updateReview
                }
            })*/
        },

         review(visitedPlace){
            var places = {place: visitedPlace.name, _id:visitedPlace._id}
            var review = {Description: "", Title:"", Rating:""}
            this.$root.$emit(MsgDictionary.CREATE_REVIEW, places , review);
        }, 

        // updatedReview: function(idPlace, review) { //rimuove la review vecchia e carica la nuova
        //     this.placesAndReviews.delete(idPlace)
        //     this.placesAndReviews.set(idPlace, review)
        //     this.$forceUpdate();
        // },        

        loadIcons(){
            let tkBinder = new PointTypesAndKeysBinder();
            this.iconsObj.push(new IconObj('cas', tkBinder.getNameByKey('cas'), 'castle.svg'));
            this.iconsObj.push(new IconObj('cat', tkBinder.getNameByKey('cat'), 'church.svg'));
            this.iconsObj.push(new IconObj('his', tkBinder.getNameByKey('his'), 'historic-site.svg'));
            this.iconsObj.push(new IconObj('mon', tkBinder.getNameByKey('mon'), 'monument.svg'));
            this.iconsObj.push(new IconObj('mus', tkBinder.getNameByKey('mus'), 'museum.svg'));
            this.iconsObj.push(new IconObj('par', tkBinder.getNameByKey('par'), 'park.svg'));
            this.iconsObj.push(new IconObj('sta', tkBinder.getNameByKey('sta'), 'statue.svg'));
        },
    },

    mounted(){
      this.init();

    /*this.$root.$on(MsgDictionary.UPDATED_REVIEW, (idPlace, review) => {
            this.updatedReview(idPlace, review)
        })*/
    }
}



</script>
